.adverts_create_new_campaign-wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 1000;
  background-color: #F8F9FD;
  top: 0;
  display: flex;
  .adverts-step {
    background-color: #fff;
    width: 60%;
    height: 100%;
    padding: 50px 60px 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::before {
      content: '';
      background-color: #7B61FF;
      height: 4px;
      width: 0;
      transition: .4s;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.launch {
      &::before {
        width: 20%;
      }
    }

    &.recurency {
      &::before {
        width: 40%;
      }
    }

    .top {
      >p {
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: #212B36;
        margin-bottom: 5px;
      }

      >span {
        font-weight: 400;
        line-height: 20px;
        color: #637381;
        margin-bottom: 30px;
        display: block;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      button {
        font-size: 16px;
        height: 46px;
        width: 48%;
        box-shadow: none;
        text-transform: none;
      }

      .cancel {
        background-color: #F9FAFB;
        color: #1A1A1C;
      }

      .continue {
        background-color: #7B61FF;
        color: #fff;

        svg {
          margin-left: 10px;
          transform: scale(-1, 1);

          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

.advert-branches {
  >div {
    width: 100%;
    border-radius: 8px;
    height: 70px;
    box-shadow: 0px 8px 16px rgba(145, 158, 171, 0.16);
    border: 1px solid rgba(145, 158, 171, 0.08);

    >div {
      border: none;
      height: 70px;
      padding: 0;
      border-radius: 8px;

      >div>div {
        padding: 15px 20px !important;
      }
    }
  }

  .restaurant-dropdown_wrapper .MuiSvgIcon-root {
    right: 20px;
  }
}
.adverts_create_new_campaign_widgets{
  width: 40%;
  display: flex;
  justify-content: center;
  padding-top: 74px;
  align-items: flex-start;
  >div{
    width: 80%;
  }
  .MuiSkeleton-text{
    border-radius: 2px;
  }
}