.marketing-setup-offer {
  position: fixed;
  right: -100vw;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: 0.4s;
  z-index: 1000;

  &.active {
    right: 0;
  }

  .marketing-paper {
    width: 100%;
    height: 100%;
    background-color: #fff !important;
    padding: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    >div {
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    h4 {
      font-weight: 700;
      color: #212b36;
    }

    .left-part {
      grid-gap: 30px;
      height: fit-content;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .left-part-top {
        display: flex;
        flex-direction: column;

        >div:nth-of-type(1) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          img {
            cursor: pointer;
            padding: 5px;
            border-radius: 50%;
            border: 1px solid #ebeff2;
          }
        }
      }

      .progress-bar {
        margin-top: 30px;
        position: relative;
        width: 100%;

        >div:nth-of-type(1) {
          height: 18px;
          border-radius: 10px;
          overflow: hidden;
          width: 100%;

          >span {
            height: 100%;
            background: rgba(144, 107, 255, 0.08);
          }
        }

        >div:nth-of-type(2) {
          position: absolute;
          right: 0;
        }
      }

      .left-part-middle {
        margin-top: 60px;

        &.sm-rule {
          margin-top: 10px;
        }

        >h6 {
          font-weight: 700;
          font-size: 18px;
          line-height: 28px;
        }

        >span {
          margin-top: 10px;
          margin-bottom: 20px;
          display: inline-block;
        }

        .top-competition {
          border-radius: 30px;
          width: 100%;
          margin-top: 20px;

          &.type-dis {
            margin: 0;
          }

          >div {
            width: 100%;
            border-radius: 30px;
            overflow: visible;
          }

          label {
            left: 15px;
          }
        }
      }

      .left-part-bottom {
        display: flex;
        grid-gap: 15px;
        justify-content: flex-end;
        align-items: center;

        .MuiButton-root.MuiButton-root {
          padding: 11px 22px;
          border-radius: 30px;
          box-shadow: none;
        }
      }
    }
  }
}

.right-part {
  width: 60%;

  .right-part-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(145, 158, 171, 0.24);
    margin-bottom: 20px;

    .date-picker_wrapper {
      >span {
        display: none;
      }
    }

    .right-part-header_link {
      display: flex;
      position: relative;
      grid-gap: 20px;

      &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 195px;
        height: 2px;
        background-color: #906bff;
        transition: 0.4s;
      }

      &.active {
        &::before {
          left: 195px;
          width: 205px;
        }
      }
      &.setup{
        &::before {
            width: 110px;
          }
        
          &.active {
            &::before {
              left: 115px;
              width: 115px;
            }
          }
      }
      &.marketing {
        &::before {
          width: 195px !important;
        }

        &.active {
          &::before {
            left: 205px !important;
            width: 205px !important;
          }
        }
      }

      >div {
        text-decoration: none;
        color: #637381;

        >div {
          cursor: pointer;
          display: flex;
          align-items: center;
          grid-gap: 7px;
          padding: 3px 7px;
          color: #637381;
          font-weight: 600;

          &.active {
            color: #906bff;

            img {
              filter: invert(43%) sepia(64%) saturate(2282%) hue-rotate(229deg) brightness(65%) contrast(102%);
            }
          }

          img {
            width: 25px;
            height: 25px;
          }
        }
      }

      >div {
        cursor: pointer;
        display: flex;
        align-items: center;
        grid-gap: 7px;
        padding: 3px 7px;
        color: #637381;
        font-weight: 600;

        &.active {
          color: #906bff;

          img {
            filter: invert(43%) sepia(64%) saturate(2282%) hue-rotate(229deg) brightness(65%) contrast(102%);
          }
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .right-part-main-title {
    margin-bottom: 30px;

    >h5 {
      >span {
        margin-left: 10px;
        padding: 5px;
        display: inline-block;
        background: rgba(84, 214, 44, 0.08);
        border-radius: 6px;
        color: #229a16;
      }
    }

    >h5:nth-of-type(2) {
      span {
        color: #b78103;
        background: rgba(255, 193, 7, 0.08);
      }
    }
  }

  .right-part-main-hour {
    width: 80px;
    display: inline-block;

    >p:nth-of-type(1) {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 15px;
      }
    }

    >p {
      width: 14%;
      padding: 0 10px;
      height: 30px;
      margin-bottom: 4px;
      display: flex;
      justify-content: space-evenly;
      color: #212b36;
      font-weight: 600;
      white-space: nowrap;
    }
  }

  .right-part-main-day {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    grid-gap: 5px;

    >p {
      display: inline-block;
      width: 100%;
      height: 30px;
      color: #212b36;
      font-weight: 600;
      text-align: center;
    }
  }

  .right-part-main-heatmap {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    grid-gap: 5px;

    >div {
      display: flex;
      flex-direction: column;
    }

    >span {
      width: 14%;
    }

    p {
      width: 100%;
      height: 30px;
      border-radius: 4px;
      margin-bottom: 4px;
    }
  }
}

.left-part-middle {
  display: flex;
  flex-direction: column;
}

.marketing-textfield.marketing-textfield {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 15px;

  >div {
    &:hover {
      fieldset {
        border-color: #919eab65 !important;
      }
    }
  }

  label {
    left: 15px;
  }

  input {
    padding-left: 55px;
  }

  fieldset {
    border-radius: 30px;
    padding-left: 20px;
  }
}

.min-max-textfields.min-max-textfields {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  >span {
    width: 100%;
  }

  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #637381;
  }

  .min-max-textfield {
    width: 100%;
    margin-bottom: 20px;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }

    border: 1px solid #919eab65;
    padding: 10px 20px;
    border-radius: 30px;
  }
}

.color-btns {
  display: flex;
  justify-content: space-between;

  >p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24.6%;
    height: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
  }

  >p:nth-of-type(1) {
    background-color: #f6f3ff;
  }

  >p:nth-of-type(2) {
    background-color: #ede7ff;
  }

  >p:nth-of-type(3) {
    background-color: #cab8ff;
  }

  >p:nth-of-type(4) {
    background-color: #906bff;
  }
}

.setup-container {
  overflow: visible !important;
}

.heatmap-btn_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row !important;
  grid-gap: 5px;

  >span {
    width: 13.6%;
  }

  .absolute {
    width: 13.6% !important;
    position: absolute;
    top: calc(34px * var(--i));
    overflow: hidden;

    &.active {
      background: linear-gradient(
        45deg,
        #2d99ff 1%,
        #f6f3ff 1%,
        #f6f3ff 49%,
        #2d99ff 49%,
        #2d99ff 51%,
        #f6f3ff 51%,
        #f6f3ff 99%,
        #2d99ff 99%
      );
      background-size: 6px 6px;
      background-position: 50px 50px;
    }
  }
}

.heatmap-btn {
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
}

.left-part-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.left-part-radio {
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(145, 158, 171, 0.16);
  border-radius: 8px;
  padding: 15px 10px;
  justify-content: space-between;
  overflow: hidden;

  &.sm-rule {
    flex-direction: column;
    grid-gap: 15px;

    >span {
      height: 160px;
      transition: 0.3s;

      &.active {
        height: 100%;
      }
    }
  }

  &.reversed {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &.under-textfields {
    align-items: flex-start;
    flex-direction: column;

    .picker-duration {
      margin-top: 20px;
    }

    >div:nth-of-type(2) {
      opacity: 0;
      visibility: hidden;
      height: 0;
      margin: 0;
      transition: 0.4s;
    }

    &.active {
      >div:nth-of-type(2) {
        opacity: 1;
        visibility: visible;
        margin-top: 20px;
        height: 100%;
      }

      .radio {
        span {
          img {
            filter: invert(38%) sepia(95%) saturate(820%) hue-rotate(224deg) brightness(103%) contrast(101%);
          }
        }
      }

      p {
        img {
          transition: 0.4s;
          transform: rotate(90deg);
        }
      }
    }

    .MuiOutlinedInput-root {
      width: 100%;
      height: 50px;
    }

    .radio {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      >div {
        width: 100%;
        display: flex;
        align-items: center;
        grid-gap: 15px;
        flex-direction: row;

        >span {
          display: inline-block;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #906bff14;

          img {
            width: 23px;
            height: 23px;
            object-fit: contain;
          }
        }
      }
    }
  }

  &.disabled {
    >div {
      color: #919eab !important;

      >span {
        background: none;
      }

      p {
        color: #919eab !important;
      }
    }
  }

  label {
    margin-right: 0 !important;
  }

  >div {
    display: flex;
    align-items: center;
    grid-gap: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;

    >span {
      display: inline-block;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #906bff14;

      &.talabat {
        background-color: #ffc10714;

        ~div {
          text-transform: capitalize;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      &.deliveroo {
        background-color: #54d62c14;

        ~div {
          text-transform: capitalize;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      img {
        width: 23px;
        height: 23px;
        object-fit: contain;
      }
    }

    >div {
      display: flex;
      flex-direction: column;

      p {
        color: #637381;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;

        img {
          margin-left: 15px;
        }
      }
    }
  }
}

.left-part-radio-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding-bottom: 40px;
}

.marketing-dropdown {
  border: none !important;
  border-radius: 8px !important;
  box-shadow: 0px 8px 16px rgba(145, 158, 171, 0.16);

  >div {
    border: none !important;
    border-radius: 8px !important;
  }
}

.duration-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.radio-dates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .picker-duration {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    >div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      grid-gap: 5px;

      >div {
        >div {
          height: 50px;
          display: flex;
          flex-direction: row-reverse;
        }

        fieldset {
          border-radius: 30px;
        }
      }
    }

    .hour-picker {
      width: 40%;
    }
  }
}

.radio-group-day {
  padding-left: 10px;
}

.another-slot {
  width: 100%;
  background-color: #906bff14 !important;
  height: 60px;
  color: #906bff !important;
  border-radius: 30px !important;
  margin-top: 20px !important;
  box-shadow: none !important;

  img,
  svg {
    margin-right: 10px;
  }

  &.remove {
    background-color: #919eab14 !important;
    color: #637381 !important;
    cursor: pointer;
  }

  &.grey {
    filter: invert(46%) sepia(32%) saturate(230%) hue-rotate(166deg) brightness(89%) contrast(91%);
  }

  &.disabled {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.26) !important;
    cursor: not-allowed !important;
    pointer-events: all !important;

    img {
      filter: invert(7%) sepia(200%) saturate(250%) hue-rotate(169deg) brightness(150%) contrast(0%);
    }
  }
}

.trash-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;

  img {
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #ebeff2;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}

.search-filter {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-direction: row !important;
  width: 100%;

  >div:nth-of-type(1)>div {
    height: 50px;

    >div {
      height: 50px !important;
    }
  }
}

.marketing-setup-dropdown {
  &.w60.w60 {
    width: 100% !important;
    margin: 0 !important;
  }

  >div {
    height: 53px !important;
    border: none !important;

    >div {
      border-radius: 30px;
    }

    fieldset {
      padding-left: 23px;
      border: 1px solid #919eab52 !important;

      span {
        padding: 0 !important;
        font-size: 11.5px;
      }
    }
  }

  .Mui-focused.Mui-focused {
    fieldset {
      border-color: #906bff !important;
      border-width: 2px !important;
    }
  }
}

.marketing-placeholder-dropdown {
  fieldset {
    border-radius: 30px;
  }

  em {
    color: #919eab;
  }

  &.active {
    em {
      color: #000;
    }
  }

  >div {
    width: 100%;
    margin: 0;
    margin-top: 3px;

    >div>div {
      padding-left: 20px;
    }
  }
}

.dropdown-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 10px;
  margin-top: 15px;

  >span {
    width: 46% !important;
  }
}

.MuiTooltip-popper {
  .MuiTooltip-tooltip {
    background-color: white;
    box-shadow: 0px 12px 24px -4px rgba(0, 0, 0, 0.12);
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
    padding: 1rem 1.5rem;
    width: 150rem;

    .MuiTooltip-arrow {
      &::before {
        background-color: white !important;
      }
    }
  }
}

.heatmap-tooltip {
  display: flex;
  color: #212b36;
  flex-direction: column;

  .heatmap-tooltip__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;

    .__item-text {
      font-size: 12px;
    }

    .__item-value {
      background: #1890ff14;
      border-radius: 41px;
      padding: 6px 15px;
      color: #1890ff;
      white-space: nowrap;
    }
  }
}

.category-list {
  margin-top: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  height: 350px;
  overflow-y: scroll;
  width: 100%;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    border-radius: 31px;
  }

  &::-webkit-scrollbar-thumb {
    background: #637381;
    border-radius: 31px;
  }
}

.menu-item-select {
  width: 100%;

  >div {
    height: fit-content !important;

    label {
      padding-left: 20px;
    }

    fieldset {
      padding-left: 15px;
    }
  }
}

.menu-item-wrapper {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;

  b {
    margin: 0 15px;
  }

  >div {
    display: flex;
    align-items: center;
  }
}

.recap-left-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.recap-left-part-inside {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;

  >div {
    width: fit-content;
    display: flex;
    align-items: center !important;
    flex-direction: row !important;
    grid-gap: 8px;

    p {
      font-size: 14px !important;
    }

    img {
      width: 45px;
      height: 45px;
      object-fit: contain;
    }
  }
}

.arrow-icon {
  width: 12px;
  height: 12px;
  object-fit: contain;
  position: relative;
  left: -12px;
  margin-left: 5px;

  &.not-display {
    left: 0;
  }
}

.recap-box {
  width: 100%;
  display: flex;
  justify-content: flex-start !important;
  align-items: center !important;
  flex-direction: row !important;

  >div {
    display: flex;
    align-items: center;

    >span {
      display: flex;
      align-items: center;
    }

    >div {
      margin-left: 10px;
      display: flex;
      align-items: center;
      position: relative;

      >div {
        margin-left: 10px;
        padding-right: 5px;
      }
    }
  }
}

.recap-box-wrapper {
  padding: 20px 10px 0 10px;
  width: 100%;
  flex-wrap: wrap;

  >div {
    flex-direction: row !important;
    grid-gap: 15px;
  }

  p {
    font-size: 14px;
  }

  &.column {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    align-items: flex-start !important;
  }

  &.between {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: row !important;
    margin: 0 !important;
    flex-wrap: wrap;

    >div {
      &.item-menu-recap.item-menu-recap {
        width: 100%;
        flex-direction: row !important;
        align-items: center !important;
        grid-gap: 10px !important;
        display: flex;
      }
    }
  }

  &.border-none {
    border-bottom: none;
  }
}

.recap-between {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  flex-direction: row !important;
  background-color: #f4f6f8;
  padding: 13px 18px;
  border-radius: 6px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 60%;
    width: 1px;
    background-color: #919eab3d;
    left: 50%;
  }

  &.mov {
    &::before {
      left: 55%;
    }
  }

  &.no-border {
    flex-direction: column !important;
    justify-content: center !important;

    >div {
      flex-direction: row !important;
      justify-content: space-between !important;
      width: 100%;
    }

    &::before {
      content: none;
    }
  }

  img {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  >div {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 10px;

    &.right {
      justify-content: flex-end;
    }

    >div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.customised-column {
  display: flex;
  flex-direction: column !important;
  width: 50%;

  >div {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.created-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

  img {
    width: 350px;
  }

  h3 {
    margin-top: 45px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #637381;
  }
}

.smart-rule_drowdown {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;

  >div:nth-of-type(1) {
    width: 45%;

    >div {
      width: 100%;
    }
  }

  >div:nth-of-type(2) {
    width: 15%;

    label {
      font-weight: 900;
    }

    >div {
      width: 100%;

      >div {
        >div {
          text-overflow: clip;
        }
      }
    }
  }

  >div>div {
    height: 45px !important;

    >div {
      height: 45px !important;

      >div {
        padding-left: 15px !important;
      }
    }
  }
}

.smart-rule-textfield {
  width: 35%;
  border-radius: 30px;

  >div {
    width: 100%;
    border-radius: 30px;
  }

  fieldset {
    border-radius: 30px !important;
  }
}

.sm-rule-and {
  width: 45%;
  margin-top: 10px;
  height: 45px;

  >div>div {
    height: 45px;

    >div {
      height: 45px;
    }
  }
}

@media (max-width: 1080px) {
  .recap-between.recap-between {
    flex-direction: column !important;

    &::before {
      width: 90%;
      height: 1px;
      top: 50%;
      left: 5%;
    }

    >div {
      width: 100%;
      justify-content: flex-start !important;
    }
  }
}

@media (max-width: 1000px) {
  .left-part {
    width: 100% !important;
  }

  .right-part {
    width: 100% !important;
  }

  .marketing-paper>div {
    flex-direction: column;
    grid-gap: 30px;
  }

  .recap-between.recap-between {
    flex-direction: row !important;

    &::before {
      height: 60%;
      width: 1px;
      top: 15%;
      left: 50%;
    }

    >div {
      width: 45%;
      justify-content: flex-start !important;

      &.right {
        justify-content: flex-end !important;
      }
    }
  }
}