.marketing-setup-offer {
  position: fixed;
  right: -100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: .4s;
  z-index: 1000;

  &.active {
    right: 0;
  }

  .marketing-paper {
    width: 100%;
    height: 100%;
    background-color: #fff !important;
    padding: 40px;
    overflow-y: scroll;

    >div {
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    h4 {
      font-weight: 700;
      color: #212B36;
    }

    .left-part {
      grid-gap: 30px;
      height: 100%;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .left-part-top {
        display: flex;
        flex-direction: column;

        >div:nth-of-type(1) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          img {
            cursor: pointer;
            padding: 5px;
            border-radius: 50%;
            border: 1px solid #EBEFF2;
          }
        }
      }

      .progress-bar {
        margin-top: 30px;
        position: relative;
        width: 100%;

        >div:nth-of-type(1) {
          height: 18px;
          border-radius: 10px;
          overflow: hidden;
          width: 100%;

          >span {
            height: 100%;
            background: rgba(144, 107, 255, 0.08);
          }
        }

        >div:nth-of-type(2) {
          position: absolute;
          right: 0;
        }
      }

      .left-part-middle {
        margin-top: 60px;

        >h6 {
          font-weight: 700;
          font-size: 18px;
          line-height: 28px;
        }

        >span {
          margin-top: 10px;
          margin-bottom: 20px;
          display: inline-block;
        }

        .top-competition {
          border-radius: 30px;
          width: 100%;
          margin-top: 20px;

          &.type-dis {
            margin: 0;
          }

          >div {
            width: 100%;
            border-radius: 30px;

          }

          label {
            left: 15px;
          }
        }
      }

      .left-part-bottom {
        display: flex;
        grid-gap: 15px;
        justify-content: flex-end;
        align-items: center;

        .MuiButton-root.MuiButton-root {
          padding: 11px 22px;
          border-radius: 30px;
          box-shadow: none;
        }
      }
    }


  }
}

.right-part {
  width: 60%;

  .right-part-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(145, 158, 171, 0.24);
    margin-bottom: 20px;

    .date-picker_wrapper {
      >span {
        display: none;
      }
    }

    .right-part-header_link {
      display: flex;
      position: relative;
      grid-gap: 20px;

      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 170px;
        height: 2px;
        background-color: #906BFF;
        transition: .4s;
      }

      &.active {
        &::before {
          left: 170px;
          width: 190px;
        }
      }

      a {
        text-decoration: none;
        color: #637381;

        >div {
          cursor: pointer;
          display: flex;
          align-items: center;
          grid-gap: 7px;
          padding: 3px 7px;
          color: #637381;
          font-weight: 600;

          &.active {
            color: #906BFF;

            img {
              filter: invert(43%) sepia(64%) saturate(2282%) hue-rotate(229deg) brightness(65%) contrast(102%);
            }
          }

          img {
            width: 25px;
            height: 25px;
          }
        }
      }

      >div {
        cursor: pointer;
        display: flex;
        align-items: center;
        grid-gap: 7px;
        padding: 3px 7px;
        color: #637381;
        font-weight: 600;

        &.active {
          color: #906BFF;

          img {
            filter: invert(43%) sepia(64%) saturate(2282%) hue-rotate(229deg) brightness(65%) contrast(102%);
          }
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
    }


  }

  .right-part-main-title {
    margin-bottom: 30px;

    >h5 {
      >span {
        margin-left: 10px;
        padding: 5px;
        display: inline-block;
        background: rgba(84, 214, 44, 0.08);
        border-radius: 6px;
        color: #229A16;
      }
    }

    >h5:nth-of-type(2) {
      span {
        color: #B78103;
        background: rgba(255, 193, 7, 0.08);
      }
    }
  }

  .right-part-main-hour {
    width: 80px;
    display: inline-block;

    >p:nth-of-type(1) {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 15px;
      }
    }

    >p {
      width: 80px;
      padding: 0 10px;
      height: 30px;
      margin-bottom: 4px;
      display: flex;
      justify-content: space-evenly;
      color: #212B36;
      font-weight: 600;
    }
  }

  .right-part-main-day {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    >p {
      display: inline-block;
      width: 80px;
      height: 30px;
      color: #212B36;
      font-weight: 600;
      text-align: center;
    }
  }

  .right-part-main-heatmap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div {
      display: flex;
      flex-direction: column;
    }

    p {
      width: 80px;
      height: 30px;
      border-radius: 4px;
      margin-bottom: 4px;
    }
  }
}

.left-part-middle {
  display: flex;
  flex-direction: column;
}

.marketing-textfield.marketing-textfield {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 15px;

  >div {
    &:hover {
      fieldset {
        border-color: #919eab65 !important;
      }
    }
  }

  label {
    left: 15px;
  }

  input {
    padding-left: 55px;
  }

  fieldset {
    border-radius: 30px;
    padding-left: 20px;
  }
}

.min-max-textfields.min-max-textfields {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  >span {
    width: 100%;
  }

  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #637381;
  }

  .min-max-textfield {
    width: 100%;
    margin-bottom: 20px;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }

    border: 1px solid #919eab65;
    padding: 10px 20px;
    border-radius: 30px;
  }
}

.color-btns {
  display: flex;
  justify-content: space-between;

  >p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24.6%;
    height: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
  }

  >p:nth-of-type(1) {
    background-color: #F6F3FF;
  }

  >p:nth-of-type(2) {
    background-color: #EDE7FF;
  }

  >p:nth-of-type(3) {
    background-color: #CAB8FF;
  }

  >p:nth-of-type(4) {
    background-color: #906BFF;
  }
}

.setup-container {
  overflow: visible !important;
}

.heatmap-btn {
  position: relative;
  overflow: hidden;
  transition: .4s;
  cursor: pointer;

  >span {
    position: absolute;
    left: -160px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;

    >span {
      top: 10px;
      height: 1px;
      width: 60px;
      position: absolute;
      transform: rotate(-107deg);
      z-index: 10;
      background-color: #2D99FF;
      left: calc(5.5px * var(--i));
    }
  }

  &.active {
    background-color: #83CFFF;

    >span {
      opacity: 1;
      visibility: visible;
    }
  }

}

.left-part-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.left-part-radio {
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(145, 158, 171, 0.16);
  border-radius: 8px;
  padding: 15px 20px;
  justify-content: space-between;
  overflow: hidden;

  &.reversed {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &.under-textfields {
    align-items: flex-start;
    flex-direction: column;

    .picker-duration {
      margin-top: 20px;
    }

    >div:nth-of-type(2) {
      opacity: 0;
      visibility: hidden;
      height: 0;
      margin: 0;
      transition: .4s;
    }

    &.active {
      >div:nth-of-type(2) {
        opacity: 1;
        visibility: visible;
        margin-top: 20px;
        height: 100%;
      }

      .radio {
        span {
          img {
            filter: invert(38%) sepia(95%) saturate(820%) hue-rotate(224deg) brightness(103%) contrast(101%);
          }
        }
      }

      p {
        img {
          transition: .4s;
          transform: rotate(90deg);
        }
      }
    }

    .MuiOutlinedInput-root {
      width: 100%;
    }

    .radio {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      >div {
        width: 100%;
        display: flex;
        align-items: center;
        grid-gap: 15px;
        flex-direction: row;

        >span {
          display: inline-block;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #906BFF14;

          img {
            width: 23px;
            height: 23px;
            object-fit: contain;
          }
        }
      }
    }
  }

  &.disabled {
    >div {
      color: #919EAB !important;

      >span {
        background: none;
      }

      p {
        color: #919EAB !important;
      }
    }



  }

  label {
    margin-right: 0 !important;
  }

  >div {
    display: flex;
    align-items: center;
    grid-gap: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;

    >span {
      display: inline-block;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #906BFF14;

      &.talabat {
        background-color: #FFC10714;

        ~div {
          text-transform: capitalize;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      &.deliveroo {
        background-color: #54D62C14;

        ~div {
          text-transform: capitalize;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }

      img {
        width: 23px;
        height: 23px;
        object-fit: contain;
      }
    }

    >div {
      display: flex;
      flex-direction: column;

      p {
        color: #637381;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;

        img {
          margin-left: 15px;
        }
      }
    }


  }
}

.left-part-radio-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #919EAB3D;
}

.marketing-dropdown {
  border: none !important;
  border-radius: 8px !important;
  box-shadow: 0px 8px 16px rgba(145, 158, 171, 0.16);

  >div {
    border: none !important;
    border-radius: 8px !important;
  }
}

.duration-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.radio-dates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .picker-duration {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    >div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      grid-gap: 5px;

      >div {
        >div {
          height: 50px;
          display: flex;
          flex-direction: row-reverse;
        }

        fieldset {
          border-radius: 30px;
        }
      }
    }


    .hour-picker {
      width: 40%;
    }
  }
}

.radio-group-day {
  padding-left: 10px;
}

.another-slot {
  width: 100%;
  background-color: #906BFF14 !important;
  height: 60px;
  color: #906BFF !important;
  border-radius: 30px !important;
  margin-top: 20px !important;
  box-shadow: none !important;
  img{
    margin-right: 10px;
  }
  &.remove{
    background-color: #919EAB14 !important;
    color: #637381 !important;
  }
}

.trash-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;

  img {
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #EBEFF2;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}

.search-filter{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-direction: row !important;
  width: 100%;
  >div:nth-of-type(1)>div{
    height: 52px;
    >div{
    height: 50px !important;
  }
}
}
.marketing-setup-dropdown {
  &.w60.w60{
    width: 100% !important;
    margin: 0 !important;
  }
  >div {
    height: 53px !important;
    border: none !important;

    >div {
      border-radius: 30px;
    }

    fieldset {
      padding-left: 23px;
      border: 1px solid #919EAB52 !important;

      span {
        padding: 0 !important;
        font-size: 11.5px;
      }
    }


  }

  .Mui-focused.Mui-focused {
    fieldset {
      border-color: #906BFF !important;
      border-width: 2px !important;
    }
  }
}
.marketing-placeholder-dropdown{
  fieldset{
    border-radius: 30px;
  }
  >div{
    width: 100%;
    margin: 0;
    margin-top: 3px;
    >div>div{
      padding-left: 20px;
    }
  }
}
.dropdown-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 10px;
  margin-top: 15px;
  >span{
    width: 46% !important;
  }
}

.MuiTooltip-popper {
  .MuiTooltip-tooltip {
    background-color: white;
    box-shadow: 0px 12px 24px -4px rgba(0, 0, 0, 0.12);
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
    padding: 1rem 1.5rem;
    width: 150rem;

    .MuiTooltip-arrow {

      &::before {
        background-color: white !important;
      }
    }
  }
}

.heatmap-tooltip {
  display: flex;
  color: #212B36;
  flex-direction: column;

  .heatmap-tooltip__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;

    .__item-text {
      font-size: 12px;
    }

    .__item-value {
      background: #1890ff14;
      border-radius: 41px;
      padding: 6px 15px;
      color: #1890FF;
      white-space: nowrap;
    }
  }
}