.onboarding {
  padding: 1rem;
  margin-left: 70px;
  
  .onboarding__form {
    display: flex;
    justify-content: space-between;
  }

  .onboarding__submit {
    margin-top: 1rem;
    width: 100%;
  }
}

.onboarding-platform__title {
  .title__main {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;

    text-align: center;

    color: #212b36;
  }

  .title__sub {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: center;

    color: #637381;
  }
}

.onboarding-actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
}

.MuiModal-root {
  .MuiBackdrop-root {
    position: fixed;
    left: 70px;
  }
}