.onboarding {
  padding: 1rem;
  
  .onboarding__form {
    display: flex;
    justify-content: space-between;
  }

  .onboarding__submit {
    margin-top: 0.5rem;
  }
}

.onboarding-actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
}
