.onboarding {
  padding: 1rem;
  margin-left: 70px;
  
  .onboarding__form {
    display: flex;
    justify-content: space-between;
  }

  .onboarding__submit {
    margin-top: 1rem;
    width: 100%;
  }
}

.onboarding-actions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1rem;
}

.MuiModal-root {
  .MuiBackdrop-root {
    position: fixed;
    left: 70px;
  }
}