.marketing-top-text {
  h4 {
    font-weight: 700;
    color: #212b36;
  }
}

.markting-top-btns {
  display: flex;
  grid-gap: 25px;
  width: 500px;

  .MuiButton-root.MuiButton-root {
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: none;

    img {
      margin-right: 8px;
    }
  }
}

.marketing-top {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-gap: 20px;
  align-items: center;
}

.marketing-links.marketing-links {
  width: 100% !important;

  > span {
    &::before {
      width: 180px !important;
    }

    &.active {
      &::before {
        left: 180px !important;
        width: 205px !important;
      }
    }
  }
}

.marketing-paper.marketing-paper {
  background: #fff !important;
  box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
  border-radius: 16px;
  padding: 20px 30px;

  &.offer-paper {
    margin-top: 20px;
  }

  > div {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
  }
}

.marketing-paper-top-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  grid-gap: 20px;
  width: 100%;
}

.marketing-filters {
  display: flex;
  align-items: flex-start;
  width: 100%;

  > div:nth-of-type(1) {
    display: flex;
    grid-gap: 10px;
    border-right: 1px solid #919eabcc;
    padding-right: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
  }

  button {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    background: #ffffff;
    padding: 11px 18px;
    color: black;
    font-weight: bold;
    width: 100%;
    min-width: 14rem;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 13px;

    &.more-filter {
      width: 14rem;
      align-self: end;
      font-size: 14px;
    }

    &:hover {
      color: #906bff;
      border-color: #906bff;
      background: rgba(144, 107, 255, 0.08);

      svg {
        filter: invert(43%) sepia(64%) saturate(2282%) hue-rotate(229deg) brightness(65%)
          contrast(102%);
      }
    }

    img {
      margin-right: 10px;
    }
  }
}

.marketing-delete.marketing-delete {
  font-size: 13px;
  border-radius: 30px;
  padding: 10px 15px;
  color: #637381;
  transition: 0.4s;
  text-transform: capitalize;
  border-color: #637381;
  font-weight: 700;

  &:hover {
    color: #637381;
    border-color: #637381;
    cursor: not-allowed;

    img {
      filter: none !important;
    }
  }

  &.selected {
    color: #ff4842;
    background-color: #ff484214;
    border-color: #ff4842;
    cursor: pointer;

    img {
      filter: invert(62%) sepia(89%) saturate(5352%) hue-rotate(334deg) brightness(100%)
        contrast(108%);
    }

    &:hover {
      color: #ff4842;
      background-color: #ff484214;
      border-color: #ff4842;
      cursor: pointer;

      img {
        filter: invert(62%) sepia(89%) saturate(5352%) hue-rotate(334deg) brightness(100%)
          contrast(108%) !important;
      }
    }
  }

  img {
    margin-right: 10px;
  }
}

.delete-overlay {
  opacity: 0;
  visibility: hidden;
  top: 0;
  position: fixed;
  background-color: rgba($color: #212b36, $alpha: 0.9);
  backdrop-filter: blur(6.5px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  transition: 0.4s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  > div {
    width: 480px;
    padding: 24px 30px 0 30px !important;

    > div:nth-of-type(1) {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      margin-bottom: 25px;

      img {
        width: 16px;
        height: 16px;
      }

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }

    > p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 60px;
      display: inline-block;
    }

    > div:nth-of-type(2) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-gap: 15px;
      padding-bottom: 15px;

      button {
        border-radius: 30px;
        padding: 11px 22px;
      }

      > button:nth-of-type(1) {
        background-color: #ff4842 !important;
        color: #fff !important;
        box-shadow: 0px 8px 16px rgba(255, 72, 66, 0.24) !important;
      }

      > button:nth-of-type(2) {
        color: #212b36 !important;
        border-color: #919eab52 !important;
      }
    }
  }
}

.filter-overlay {
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba($color: #212b36, $alpha: 0.9);
  backdrop-filter: blur(6.5px);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  transition: 0.4s;

  .PrivateSwitchBase-root {
    padding-left: 0;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .filter-paper {
    height: 100vh;
    width: 40%;
    border-radius: 0 !important;
    padding: 30px 70px !important;
    overflow-y: auto;

    > div:nth-of-type(1) {
      display: flex;
      align-items: center;
      position: relative;
      overflow: visible !important;

      > p {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #242731;
      }

      img {
        position: absolute;
        cursor: pointer;
        right: -30px;
      }
    }

    > span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #637381;
    }

    > div:nth-of-type(2) {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      grid-gap: 15px;

      button {
        border-radius: 30px;
        padding: 11px 22px;
        box-shadow: none;
      }

      > button:nth-of-type(1) {
        background-color: #906bff !important;
        color: #fff !important;
      }

      > button:nth-of-type(2) {
        color: #212b36 !important;
        border-color: #919eab52 !important;
      }
    }
  }
}

.marketing-wrapper {
  position: relative;
}

@media (max-width: 1180px) {
  .marketing-filters {
    flex-direction: column;
    grid-gap: 10px;

    > div:nth-of-type(1) {
      width: 100%;
      padding-right: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #919eabcc;
      border-right: none;
    }

    > div:nth-of-type(2) {
      width: fit-content;
    }
  }

  .markting-top-btns {
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

@media (max-width: 900px) {
  .marketing-filters {
    align-items: flex-start;

    > div:nth-of-type(1) {
      width: 100%;
    }

    > div:nth-of-type(2) {
      width: 100%;
    }
  }
}

@media (max-width: 960px) {
  .marketing-top {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .marketing-filters {
    > div:nth-of-type(1) {
      flex-wrap: wrap;

      button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 650px) {
  .markting-top-btns {
    button {
      width: 100%;
    }
  }
}

.filter-all {
  display: flex;
  flex-direction: row;

  .MuiButtonBase-root {
    &.MuiButton-outlined {
      width: 100%;
    }
  }
}
.sm-rule-btn {
  &.disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
    img {
      filter: invert(46%) sepia(14%) saturate(484%) hue-rotate(166deg) brightness(92%) contrast(91%);
    }
  }
}
