.marketing-top-text {
  h4 {
    font-weight: 700;
    color: #212B36;
  }
}

.markting-top-btns {
  display: flex;
  grid-gap: 25px;

  .MuiButton-root.MuiButton-root {
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: none;

    img {
      margin-right: 8px;
    }
  }
}

.marketing-top {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

