@import '../../library.scss';
@import '../../responsiveness.scss';

.auth-layout {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  display: flex;
  align-items: stretch;
  height: 100vh;

  .auth-layout__cover {
    width: 45%;
    background-color: $color-main;
    text-align: left;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    padding: 3em;
    justify-content: center;
    .__container {
      background: rgba(183, 233, 246, 0.25);
      backdrop-filter: blur(5.495px);
      border-radius: 6px;
      height: 100%;
      position: relative;
      .auth-layout__cover__logo {
        position: absolute;
        top: 2em;
        left: 3em;

        @media only screen and (min-width: 1460px) {
          left: 2.8vw;
        }
      }

      .auth-layout__cover__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 6em auto;
        justify-content: space-between;
        height: 78%;

        .__img-frame {
          img {
            width: 491.94px;
            height: 300.52px;
          }

          position: absolute;
          top: 23vh;
          left: -3em;

          @media only screen and (max-height: 656px) {
            top: 9.5em;
          }
        }

        .auth-layout__cover__center__text {
          position: relative;
          left: 10px;
          color: white;
          font-size: 32px;
          font-weight: 700;
        }

        .__block {
          .auth-layout__cover__center-flex {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-top: 2em;
            img {
              width: 30px;
              height: 30px;
            }
            .center-flex__text {
              font-size: 16px;
              font-weight: 600;
              color: white;
            }

            @media only screen and (min-width: 1480px) {
              img {
                width: 50px;
                height: 50px;
              }

              .center-flex__text {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  .auth-layout__form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
  }

  @include tabletBreakpoint {
    display: block;

    .auth-layout__cover {
      width: 100%;

      .__container {
        .auth-layout__cover__logo {
          left: 4.5em;
          top: 1em;
        }

        .auth-layout__cover__center {
          .__img-frame {
            top: 27em;
          }
          .auth-layout__cover__center__text {
            font-size: 28px;
          }

          .__block {
            margin-top: 3em;
          }
        }
      }
    }

    .auth-layout__form-block {
      margin-top: 2em;
      padding-bottom: 1em;
      width: 100%;
    }
  }

  @include mobileBreakpoint {
    display: block;

    .auth-layout__cover {
      width: 100%;

      .__container {
        .auth-layout__cover__logo {
          top: 1.8em;
          left: 2em;
        }

        .auth-layout__cover__center {
          .__img-frame {
            top: 27em;
          }
          .auth-layout__cover__center__text {
            font-size: 20px;
          }

          .__block {
            margin-top: 2em;
          }
        }
      }
    }

    .auth-layout__form-block {
      margin-top: 2em;
      padding-bottom: 1em;
      width: 100%;
    }
  }

  @media only screen and (max-height: 606px) {
    height: 630px;
  }
}
