.menu {
  .__select-block {
    display: flex;
    justify-content: space-between;
    width: 50%;
    .__select {
      width: 31%;
      > div {
        height: 48px;
        > label {
          transition: 0.3s;
          opacity: 1;
        }
        > label[data-shrink='true'] {
          opacity: 0;
        }
        > div {
          background-color: #fff;
          height: 100%;
          fieldset {
            border: none !important;
          }
        }
      }
      &.vendor {
        > div {
          background-color: #fff;
          .content {
            width: 100% !important;
          }
          > div {
            height: fit-content;
            background: none;
          }
        }
      }
    }
  }

  .__table-block {
    margin: 2em 0;
  }
}
.menu__platform-select {
  display: flex;
  align-items: center;
  grid-gap: 5px;
}
.menu__platform-selected {
  display: flex;
  align-items: center;
  grid-gap: 15px;
  .platform-join {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  img,
  svg {
    width: 27px;
    height: 27px;
  }
}
