.menu {
  .__select-block {
    display: flex;
    justify-content: space-between;

    .__select {
      width: 31%;
      > div {
        height: 48px;
        > label {
          transition: 0.3s;
          opacity: 1;
        }
        > label[data-shrink='true'] {
          opacity: 0;
        }
        > div {
          background-color: #fff;
          fieldset {
            border: none !important;
          }
        }
      }
    }
  }

  .__table-block {
    margin: 2em 0;
  }
}
