@import '../../../library.scss';

.settings-onboarding {
  border: 1px solid #dfe3e8;
  border-radius: 8px;
  padding: 32px;

  .__title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 2em;
    color: $color-second-third;
  }
}

.settings-onboarding__form {
  padding: 1rem;
  margin: 1rem auto 0.5rem;
  text-align: center;

  span {
    font-weight: bold;
  }
}
