@import '../../library.scss';

.top-text-inputs {
  position: relative;
  padding-left: 25px;

  &::before {
    content: "";
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    background: #906BFF;
    left: 4.3px;
    top: 4px;
    z-index: 10;
  }

  &::after {
    content: "";
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    background: #D5C8FA;
    left: 0;
    top: 0;
  }
}

.restaurant-dropdown_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  grid-gap: 5px;
  position: relative;

  .MuiSvgIcon-root {
    right: 0px;
  }

  >.restaurant-dropdown {
    overflow: hidden;
  }



  >div {
    box-shadow: none;
    border-radius: 30px;
    margin: 0;
    border: 1px solid rgba(145, 158, 171, 0.32);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 15px 0 5px;
    cursor: pointer;

    fieldset {
      border: none;
    }

    

    >div {
      width: 100%;
      height: 40px;
     >div {

        color: #212B36;
      }
    }

    &.old {
      >div {
        padding: 0 5px 0 5px;
      }
    }
  }

  .Mui-focused.Mui-focused fieldset {
    border: none;
    border-radius: 30px;

    legend {
      background: #fff;
    }
  }
    &.branch {
      >div:nth-of-type(1) {
        >div {
          padding-left: 10px;
          display: flex;
          grid-gap: 10px;
          align-items: center;
  
        }
      }
    }
}

.restaurant-dropdown-input.restaurant-dropdown-input {
  display: flex;
  align-items: center;
  grid-gap: 10px;

  &.Mui-focused.Mui-focused {
    color: $color-border
  }

  &.Mui-focused.Mui-focused svg {
    fill: $color-border
  }
}

.restaurant-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 10px;
}

.select_icon {
  width: 35px;
  height: 35px;
}

#restaurant_dropdown_menu {
  border-radius: 12px;
  overflow: visible;
  box-shadow: 0 0 1px 0 rgb(145 158 171 / 48%), 0 2px 4px -1px rgb(145 158 171 / 24%);
  border: 1px solid rgba(145, 158, 171, 0.32);

  >ul {
    border-radius: 12px;
    background-color: #fff;

    &::after {
      border: 1px solid rgba(145, 158, 171, 0.32);
      top: -7px;
      background-color: #fff;
      right: 15px;
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      box-shadow: 0 0 1px 0 rgb(145 158 171 / 48%), 0 2px 4px -1px rgb(145 158 171 / 24%);
    }

    &::before {
      z-index: 1;
      top: 0px;
      background-color: #fff;
      right: 10px;
      content: "";
      position: absolute;
      width: 40px;
      height: 20px;
    }

    >li {
      background-color: #fff;

      >div>span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.restaurants-selected {
  width: 70%;
  overflow: hidden;

  >div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.dropdown-paper.dropdown-paper {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 70px;
  width: 100%;
  background-color: #fff !important;
  z-index: 1001;
  cursor: default !important;
  display: flex;
  flex-direction: column;
  border-radius: 12px !important;
  transition: .3s;
  overflow-y: auto;
  max-height: 160px;
  height: fit-content;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 1px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #F3F3F3;
    border-radius: 31px;
  }

  &::-webkit-scrollbar-thumb {
    background: #637381;
    border-radius: 31px;
  }

  .checkbox-accordion {
    color: black;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before {
      content: none;
      position: absolute;
      height: calc(40px * var(--l));
      top: 20px;
      background-color: #F4F6F8;
      width: 3px;
      transition: .3s;
      left: 11px;
      z-index: -1;
    }

    >div {
      >img {
        width: 24px;
        height: 24px;
        transition: .3s;
      }

      display: flex;
      align-items: center;
      grid-gap: 5px;
      padding: 0;
    }

    >svg:last-child {
      transition: .4s;
    }

    &.active {
      &::before {
        content: '';
      }

      >svg:last-child {
        transform: rotate(180deg);
        transition: .4s;
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .accordion-dropdown {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    height: 0;
    cursor: pointer;
    display: none;

    >div {
      width: 100%;
      cursor: pointer !important;
      margin-left: 29px;
      position: relative;
      overflow: visible;
      z-index: 50;
      color: black;
      font-weight: bold;
      >span {
        margin-right: 5px;
      }

      &::before {
        content: '';
        position: absolute;
        left: -17px;
        height: 3px;
        top: 18px;
        width: 15px;
        background-color: #F4F6F8;
        pointer-events: none;
      }

      &::after {
        content: '';
        position: absolute;
        left: -7px;
        height: 3px;
        top: 13px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #F4F6F8;
        pointer-events: none;

      }
    }

    &.active {
      opacity: 1;
      visibility: visible;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &.vendor {
      >label {
        margin-left: 40px;

        &::before {
          content: none;
        }

        &::after {
          content: none;
        }
      }
    }
  }
}

.checkbox-accordion-wrapper {
  transition: .3s;
  position: relative;

  &.active {
    height: 100%;
  }
}

.dropdown-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh !important;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
  cursor: default !important;
  transition: .3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}