@import '../../library.scss';

.wrapper {
  color: $color-wrapper;

  .top-inputs {
    background-color: white;
    padding: 1.5em 0.5em;
    border-radius: 8px;
    top: 0;
    position: sticky;
    z-index: 5;
    box-shadow: 0px 0px 2px rgb(145 158 171 / 20%), 0px 12px 24px -4px rgb(145 158 171 / 12%);
  }
}

.dashboard-paper-wrapper {
  padding: 5px 30px;
  box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12) !important;
  border-radius: 16px !important;
  margin-bottom: 50px;

  .paper-table {
    padding: 0px 20px;
  }
}

.dashboard-links {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 25px;
  position: relative;
  grid-gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 5px;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    border-radius: 31px;
  }

  &::-webkit-scrollbar-thumb {
    background: #637381;
    border-radius: 31px;
  }

  > div {
    white-space: nowrap;
    text-transform: capitalize;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #637381;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    position: relative;
    height: 45px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: #906bff;

      img {
        filter: invert(55%) sepia(36%) saturate(7491%) hue-rotate(235deg) brightness(100%)
          contrast(102%);
      }
    }

    &.active {
      color: #906bff;

      img {
        filter: invert(55%) sepia(36%) saturate(7491%) hue-rotate(235deg) brightness(100%)
          contrast(102%);
      }
    }

    img {
      width: 25px;
    }
  }

  .indicator.indicator {
    transition: 0.4s;
    cursor: default;
    width: 135px;
    height: 3px;
    padding: 0;
    background-color: #906bff;
    position: absolute;
    bottom: 5px;
    left: 0px;
  }

  > div:nth-of-type(2).active ~ .indicator {
    left: calc(135px * 1);
  }

  > div:nth-of-type(3).active ~ .indicator {
    left: calc(140px * 2);
  }

  > div:nth-of-type(4).active ~ .indicator {
    left: calc(142px * 3);
    width: 175px;
  }

  > div:nth-of-type(5).active ~ .indicator {
    left: calc(150px * 4);
    width: 180px;
  }

  > div:nth-of-type(6).active ~ .indicator {
    left: calc(160px * 5);
    width: 100px;
  }
}

.dashboard-stepper {
  margin-top: 30px;
}

@media (max-width: 1100px) {
  .top-inputs {
    padding: 1.5em 0.7em !important;
  }
}
