@import '../../library.scss';

.wrapper {
  color: $color-wrapper;
}
.top-inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 10px;
}
@media(max-width: 1260px){
  .top-inputs{
    align-items: flex-end;
    flex-direction: column;
  }
}
