@import '../../library.scss';

.dates {
  display: flex;
  justify-content: flex-end;
  grid-gap: 40px;
  align-items: center;
}

.date-input-wrapper {
  position: relative;
}

.date-input.date-input {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 250px;
  padding: 16px 10px;
  box-shadow: 0 0 0px 0 rgb(145 158 171 / 48%),
    0 2px 4px -1px rgb(145 158 171 / 24%);
  transition: .4s;

  .date-typography {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    span {
      text-transform: capitalize;
    }

    >svg {
      transition: .4s;
      fill: grey;
    }
  }

  &:hover {
    background-color: #F0ECF4;
    color: #823aa8;

    svg {
      fill: #823aa8;
    }
  }
}

.date-picker_wrapper {
  position: relative;
}

.date-range.date-range {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 800;
  display: flex;
  position: absolute;
  top: 55px;
  box-shadow: 0 0 1px 0 rgb(145 158 171 / 48%),
    0 2px 4px -1px rgb(145 158 171 / 24%);
  right: -270px;
  transition: .4s;

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  &.month {
    right: 0px;
  }

  &.range-right {
    right: 0;
  }

  .month_picker {
    padding: 0 15px;
    margin: 0;
    height: 300px;
    background: #fff;
    z-index: 800;
    position: relative;

    .Mui-selected {
      background-color: #704cfc;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
        0px 2px 2px 0px rgb(0 0 0 / 14%),
        0px 1px 5px 0px rgb(0 0 0 / 12%);
      transition: .4s;

      &:hover {
        box-shadow: 0px 2px 1px 1px rgb(0 0 0 / 20%),
          0px 1px 1px 0px rgb(0 0 0 / 14%),
          0px 1px 5px 0px rgb(0 0 0 / 12%);
      }
    }
  }

  .rdrInputRanges.rdrInputRanges {
    display: none;
  }

  .rdrStaticRanges.rdrStaticRanges {
    margin-top: 10px;
    padding-left: 5px;
  }

  .rdrInRange,
  .rdrEndEdge,
  .rdrStartEdge {
    color: #704cfc !important;
  }

  .rdrDayStartPreview,
  .rdrDayInPreview,
  .rdrDayEndPreview {
    border-color: #704cfc;
  }

  .rdrDayToday .rdrDayNumber span:after {
    background: #704cfc;
  }

  .rdrDateDisplayWrapper {
    background: #fff;
  }

  .rdrDateDisplay.rdrDateDisplay {
    color: #704cfc !important;

    >span {
      box-shadow: 0 0 1px 0 rgb(145 158 171 / 48%),
        0 2px 4px -1px rgb(145 158 171 / 24%);
    }
  }

  .rdrDayPassive .rdrDayNumber span {
    color: #aeb9bf;
  }

  .rdrDefinedRangesWrapper {
    display: none;
  }
}

.date-range-overlay {
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: .3s;
  left: 0;
  top: 0;
  z-index: 799;

  &.opened {
    opacity: 1;
    visibility: visible;
  }

}

.date-select.date-select {
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 100;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  box-shadow: 0 0 1px 0 rgb(145 158 171 / 48%),
    0 2px 4px -1px rgb(145 158 171 / 24%);
  width: 100%;

  >div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    >button {
      color: grey;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      text-align: left;
      font-size: 12px;
    }
  }



  &.selected {
    opacity: 1;
    visibility: visible;
  }
}

.date-picker.date-picker {
  width: 200px;
  padding: 10px 15px;
  border-radius: 12px 0 0 12px;
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  box-shadow: none;

  .navbar-accordion.navbar-accordion {
    &::before {
      opacity: 0;
    }
  }

  .Mui-expanded.Mui-expanded {
    margin: 0;
  }

  span {
    text-transform: uppercase;
    font-size: 12px;
  }

  .navbar-button-kit.navbar-button-kit {
    font-size: 12px;
    width: 100%;
    padding: 5px 10px 5px 10px;

    &.active {
      background-color: #ebdbeb;
      color: #704cfc;
    }

    span {
      width: 100%;
      opacity: 1;
    }
  }

  .date-accordion-details {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    grid-gap: 7px;
    padding: 8px 16px 0 16px;

    .navbar-button-kit.navbar-button-kit {
      font-size: 10px;
    }
  }
}

.date-btn-wrapper {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 18px;

  .date-save-btn.date-save-btn {
    width: 100%;
    background: #704cfc;
    font-size: 12px;

    &.date-disabled-btn {
      cursor: not-allowed;
      background: grey;
    }

    &:hover {
      background: #704cfc;
    }
  }
}

@media(max-width: 960px) {
  .dates {
    flex-direction: column;
    grid-gap: 10px;
  }
}