.planning-box {
  // box-sizing: border-box;
  padding: 15px;
  // margin-bottom: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 2px rgb(145 158 171 / 20%), 0px 12px 24px -4px rgb(145 158 171 / 12%);
  border: none;
}

.planning-platform {
  background-color: var(--color);
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.planning-box__paper {
  box-shadow: none !important;
  border: none !important;

  th,
  td {
    border-bottom: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #212b36;
  }

  table {
    background-color: #fff;
  }

  .offer-row:hover {
    background-color: rgba(144, 107, 255, 0.08);
  }

  tbody {
    > tr:nth-of-type(1) {
      // background: rgba(144, 107, 255, 0.08);
      padding-right: 5px;

      th {
        border-radius: 8px 0 0 8px;
      }

      > td:last-of-type {
        border-radius: 0 8px 8px 0;
        padding: 20px 15px;
        grid-gap: 8px;

        > div {
          width: 100px;
          padding-left: 14px;
          transform: scale(1.5);
        }
      }
    }
  }

  th:nth-of-type(1) {
    padding-left: 15px;
  }
}

.marketing-table-top:hover {
  background: rgba(144, 107, 255, 0.08) !important;
}

.marketing-table-top {
  cursor: pointer;
  background: #fff !important;
  border-bottom: 1px solid #919eab3d;

  &.selected {
    th,
    td {
      background: #ff484214 !important;
    }
  }

  th,
  td {
    white-space: nowrap;

    > span {
      white-space: nowrap;
      text-align: center;
    }
  }

  td {
    // padding-right: 40px;
    text-align: center;
  }
}

.render-row-tooltip {
  background-color: #f1efff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7b61ff;
  &.small{
    width: 25px;
    height: 25px;
    font-size: 10px;
  }
  &.column {
    color: #fff;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    width: fit-content;
    background: none;
    height: fit-content;
    border-radius: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.no-data.no-data {
  display: block;
  white-space: nowrap;
  position: sticky;
  left: 40%;
  width: 100%;
  pointer-events: none;
}

.render-linked-platforms-row {
  background-color: var(--color);
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-right: 10px;

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #dfe3e8;
    border-radius: 50%;
    top: 0;
    right: 0;
    position: absolute;
  }

  &.active {
    &::before {
      background-color: #2ec966;
    }
  }

  &.inprocess {
    &::before {
      background-color: #f48b29;
    }
  }

  &.row-suspended {
    opacity: 0.5;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.render-branch-row_skeleton {
  position: relative;
  display: block;
  width: 170px;
  background-color: #f3f4f6;
  height: 12px;
  border-radius: 2px;
  bottom: -10px;

  &::before {
    content: '';
    display: block;
    width: 80px;
    background-color: #f3f4f6;
    height: 12px;
    border-radius: 2px;
    position: absolute;
    top: -20px;
  }
}

.render-branch-row.render-branch-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .__title.__title {
    font-size: 14px;
    margin: 0;
  }

  .__subtitle.__subtitle {
    font-size: 14px;
    margin: 0;
  }
}

.render-branch_status-row_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    filter: invert(46%) sepia(5%) saturate(1309%) hue-rotate(166deg) brightness(92%) contrast(90%);
    margin-right: 20px;
  }

  transform: scale(1) !important;
  width: 100% !important;
  padding: 0 !important;
}

.suspended {
  opacity: 0.5;
}

.render-branch_status-row {
  text-transform: capitalize;
  font-weight: 400;
  border-radius: 6px;
  padding: 5px;

  &.InProcess,
  &.inprocess {
    background-color: #feefe1;
    color: #f48b29;
  }

  &.Active,
  &.active {
    background-color: #d5c8fa4d;
    color: #9a6fff;
  }

  &.Suspended,
  &.suspended {
    background-color: #ff48421a;
    color: #ff4842;
    opacity: 1;
  }
}

.icon-row {
  display: flex;
  align-items: center;
  grid-gap: 5px;

  img {
    width: 15px;
    height: 15px;
  }
}
