@import '../../library.scss';

.onboarding-platform {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem auto;
  padding: 0rem 2rem;

  .onboarding-platform__title {
    .title__main {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;

      text-align: center;

      color: #212b36;
    }

    .title__sub {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      text-align: center;

      color: #637381;
    }
  }
}
