.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 15px;
  margin: 30px 0;
  justify-content: space-between;
  &.marketing {
    > div {
      width: 48.5%;
    }
  }
}

.block {
  margin: 50px 0;
  > h4:nth-of-type(1) {
    font-weight: 600;
  }
}

@media (max-width: 1260px) {
  .cardsWrapper {
    grid-gap: 20px;
    justify-content: space-between;
  }
}

@media (max-width: 995px) {
  .cardsWrapper {
    grid-gap: 25px;
    &.marketing > div {
      width: 100%;
    }
  }
}

@media (max-width: 840px) {
  .cardsWrapper {
    grid-gap: 15px;
  }
}
