.marketing-top-text {
  h4 {
    font-weight: 700;
    color: #212b36;
  }
}

.markting-top-btns {
  display: flex;
  grid-gap: 25px;

  .MuiButton-root.MuiButton-root {
    padding: 10px 15px;
    border-radius: 30px;
    box-shadow: none;

    img {
      margin-right: 8px;
    }
  }
}

.marketing-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  grid-gap: 20px;
  align-items: center;
}

.marketing-links.marketing-links {
  width: 100% !important;

  > span {
    &::before {
      width: 180px !important;
    }

    &.active {
      &::before {
        left: 180px !important;
        width: 205px !important;
      }
    }
  }
}

.marketing-paper.marketing-paper {
  background: #fff !important;
  box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
  border-radius: 16px;
  padding: 20px 30px;

  &.offer-paper {
    margin-top: 20px;
  }

  > div {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
  }
}

.marketing-paper-top-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  grid-gap: 20px;
  width: 100%;
}

.marketing-filters {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;

  > div:nth-of-type(1) {
    display: flex;
    grid-gap: 10px;
    border-right: 1px solid #919eabcc;
    padding-right: 10px;
    margin-right: 10px;
  }

  button {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    background: #ffffff;
    padding: 11px 18px;
    color: black;
    font-weight: bold;
    width: 100%;
    min-width: 14rem;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 13px;

    &.more-filter {
      width: 14rem;
    }

    &:hover {
      color: #906bff;
      border-color: #906bff;

      img {
        filter: invert(43%) sepia(64%) saturate(2282%) hue-rotate(229deg) brightness(65%)
          contrast(102%);
      }
    }

    img {
      margin-right: 10px;
    }
  }
}

.marketing-delete.marketing-delete {
  font-size: 13px;
  border-radius: 30px;
  padding: 10px 15px;
  color: #637381;
  transition: 0.4s;
  text-transform: capitalize;
  border-color: #637381;
  font-weight: 700;

  &:hover {
    color: #637381;
    border-color: #637381;
    cursor: not-allowed;

    img {
      filter: none !important;
    }
  }

  &.selected {
    color: #ff4842;
    background-color: #ff484214;
    border-color: #ff4842;
    cursor: pointer;

    img {
      filter: invert(62%) sepia(89%) saturate(5352%) hue-rotate(334deg) brightness(100%)
        contrast(108%);
    }

    &:hover {
      color: #ff4842;
      background-color: #ff484214;
      border-color: #ff4842;
      cursor: pointer;

      img {
        filter: invert(62%) sepia(89%) saturate(5352%) hue-rotate(334deg) brightness(100%)
          contrast(108%) !important;
      }
    }
  }

  img {
    margin-right: 10px;
  }
}

.delete-overlay {
  opacity: 0;
  visibility: hidden;
  top: 0;
  position: fixed;
  background-color: rgba($color: #212b36, $alpha: 0.9);
  backdrop-filter: blur(6.5px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  transition: 0.4s;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  > div {
    width: 480px;
    padding: 24px 30px 0 30px !important;

    > div:nth-of-type(1) {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      margin-bottom: 25px;

      img {
        width: 16px;
        height: 16px;
      }

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }

    > p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 60px;
      display: inline-block;
    }

    > div:nth-of-type(2) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-gap: 15px;
      padding-bottom: 15px;

      button {
        border-radius: 30px;
        padding: 11px 22px;
      }

      > button:nth-of-type(1) {
        background-color: #ff4842 !important;
        color: #fff !important;
        box-shadow: 0px 8px 16px rgba(255, 72, 66, 0.24) !important;
      }

      > button:nth-of-type(2) {
        color: #212b36 !important;
        border-color: #919eab52 !important;
      }
    }
  }
}

.filter-overlay {
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba($color: #212b36, $alpha: 0.9);
  backdrop-filter: blur(6.5px);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  transition: 0.4s;

  .PrivateSwitchBase-root {
    padding-left: 0;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .filter-paper {
    height: 100vh;
    width: 40%;
    border-radius: 0 !important;
    padding: 30px 70px !important;
    overflow-y: auto;

    > div:nth-of-type(1) {
      display: flex;
      align-items: center;
      position: relative;
      overflow: visible !important;

      > p {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #242731;
      }

      img {
        position: absolute;
        cursor: pointer;
        right: -30px;
      }
    }

    > span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #637381;
    }

    > div:nth-of-type(2) {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      grid-gap: 15px;

      button {
        border-radius: 30px;
        padding: 11px 22px;
        box-shadow: none;
      }

      > button:nth-of-type(1) {
        background-color: #906bff !important;
        color: #fff !important;
      }

      > button:nth-of-type(2) {
        color: #212b36 !important;
        border-color: #919eab52 !important;
      }
    }
  }
}

.marketing-wrapper {
  position: relative;
}

.offer-details-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.offer-infos {
  border-top: 1px solid rgba(145, 158, 171, 0.24);
  margin-top: 20px;
  padding: 16px 0;
  display: flex;
  align-items: center;

  .offer {
    align-items: center;
  }
}

.offer-duration-block {
  display: flex;
  flex: 3;
}

.restau {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 100px;
}

.restau-name {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #212b36;
}

.restau-branch {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #212b36;
}

.restau-infos {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offer {
  display: flex;
  flex: 3;
  justify-content: space-between;
}

.offer-title {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #637381;
  margin-right: 20px;
}

.offer-status {
  background: rgba(84, 214, 44, 0.16);
  border-radius: 6px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 2px 7px;
}

.offer-visibility-container-scroll {
  overflow-x: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    border-radius: 31px;
  }

  &::-webkit-scrollbar-thumb {
    background: #637381;
    border-radius: 31px;
  }
}

.offer-visibility-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 20px;
  background: #f9fafb;
  border-radius: 8px;
  margin-top: 20px;
}

.offer-visibility-block {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  svg {
    width: 15px;
    height: 15px;
    transform: rotate(-90deg);
  }
}

.offer-visibility-title {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #212b36;
}

.offer-visibility-sub-title {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #212b36;
  p {
    font-weight: 400;
  }
}

.with-icon {
  margin-right: 5px;
}

.offer-duration-container {
  display: flex;
  border-top: 1px solid rgba(145, 158, 171, 0.24);
  padding: 20px;
  margin-top: 20px;
}

.offer-duration {
  display: flex;
  align-items: center;
}

.width-left-icon {
  margin-left: 10px;
}

.width-right-icon {
  margin-right: 10px;
}

.back-icon {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  span {
    font-weight: 600;
  }
}

.cancel-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 18px;
  gap: 5px;
  height: 46px;
  background: rgba(255, 72, 66, 0.08);
  border: 1px solid #ff4842;
  border-radius: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
}

.price {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #212b36;
  position: relative;
}

.price::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 10px;
  width: 40px;
  height: 1px;
  background-color: #242731;
}

@media (max-width: 1180px) {
  .offer-infos {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 20px;

    .offer {
      justify-content: flex-start;
      flex-wrap: wrap;

      > div {
        margin-right: 25px;
      }
    }
  }

  .offer-visibility-container {
    width: 150%;
  }

  .marketing-filters {
    flex-direction: column;
    grid-gap: 10px;

    > div:nth-of-type(1) {
      width: 100%;
      padding-right: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid #919eabcc;
      border-right: none;
    }

    > div:nth-of-type(2) {
      width: fit-content;
    }
  }

  .markting-top-btns {
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

@media (max-width: 900px) {
  .offer-infos {
    .offer {
      width: 100%;

      > div {
        margin-bottom: 15px;
      }
    }
  }

  .offer-visibility-container {
    width: 170%;
  }

  .marketing-filters {
    align-items: flex-start;

    > div:nth-of-type(1) {
      width: 100%;
    }

    > div:nth-of-type(2) {
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .offer-visibility-container {
    width: 200%;
  }
}

@media (max-width: 960px) {
  .marketing-top {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 750px) {
  .marketing-filters {
    > div:nth-of-type(1) {
      flex-wrap: wrap;

      button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 650px) {
  .markting-top-btns {
    button {
      width: 100%;
    }
  }
}

.filter-all {
  display: flex;
  flex-direction: row;

  .MuiButtonBase-root {
    &.MuiButton-outlined {
      width: 100%;
    }
  }
}

.offerdetails_time_slots_scroll {
  overflow-x: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    border-radius: 31px;
  }

  &::-webkit-scrollbar-thumb {
    background: #637381;
    border-radius: 31px;
  }
}

.offerdetails_time_slots {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #f9fafb;

  > div:last-child {
    border-right: none !important;
  }

  > div:nth-of-type(1) {
    margin-left: 0 !important;
  }
}

.cancel_api {
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;

  svg {
    width: 28px;
    height: 28px;
  }
}
