@import '../../library.scss';

.setting-account {
  margin-top: 12rem;

  .setting-account__tabs {
    
    .setting-account__tabs-tab {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $color-gray;
      font-size: 14px;
  
      &.__active {
        color: $color-main;
      }
  
      &:hover {
        color: $color-main;
      }
    }
  }
}
