.menu {
    .__select-block {
        display: flex;
        justify-content: space-between;

        .__select {
            width: 31%;
        }
    }

    .__table-block {
        margin: 2em 0;
    }
}