.marketing-table-top:hover {
  background: rgba(144, 107, 255, 0.08) !important;
}

.marketing-table-top {
  cursor: pointer;
  background: #fff !important;
  border-bottom: 1px solid #919eab3d;
  &.selected {
    th,
    td {
      background: #ff484214 !important;
    }
  }

  th,
  td {
    white-space: nowrap;
    > span {
      white-space: nowrap;
      text-align: center;
    }
  }

  td {
    padding-right: 40px;
    text-align: center;
  }
}

.marketing-thead {
  > tr {
    border-bottom: none !important;
  }
}
