.forgot-password {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  margin: auto;
  display:flex;
  justify-content:center;
  flex-direction: column;

  .forgot-password-cover {
    margin: 8em 0 2em 0;
  }

  .card-forgot-password {
    width: 30rem;
    text-align: start;
    padding: 1rem 1rem 1rem;
    margin: auto;
  }
}
