@import '../../library.scss';

.competitor-overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 800;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.8);
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  transition: .4s;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  h4 {
    margin-bottom: 20px;
    text-align: center;
  }

  .competitor-paper.competitor-paper {
    box-shadow: none;
    padding-top: 20px;
    position: relative;
    background: #fff !important;
    border-radius: 0;
    overflow: hidden;
    width: 450px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .competitor-top-text {
      padding: 0 40px;
      color: #212B36;
      font-weight: 700;
      font-size: 25px;
      line-height: 24px;
    }

    .competitor-top-text-span {
      padding: 0 40px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #637381;
    }

    .competitor-close {
      position: absolute;
      width: 35px;
      height: 35px;
      right: 15px;
      top: 10px;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #EBEFF2;
      padding: 5px;
    }

    .competition-dropdown.competition-dropdown {
      margin-bottom: 25px;
      justify-content: flex-start;
      color: #000000;



      &.Mui-focused {
        color: #823aa8 !important;

        fieldset {
          img {
            filter: invert(43%) sepia(17%) saturate(3109%) hue-rotate(219deg) brightness(109%) contrast(103%);
          }
        }
      }


      >div {
        box-shadow: none;
        width: 100%;

        fieldset {
          border: 1px solid #919eab65;
          border-radius: 8px;
          transition: .4s;
        }
      }
    }
  }

  .competition-textfield.competition-textfield {
    width: 280px;
    margin-bottom: 15px;
    height: 60px;

    label {
      margin-top: 4px;
    }

    input {
      padding: 0 15px;
      height: 60px;
    }
  }
}

.competition_btn-wrapper {
  padding: 30px 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-gap: 10px;

  .competition-add.active {
    display: none;
  }
}

.competitor-dropdown.competitor-dropdown {
  height: 60px;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 280px;

  >div {
    border-radius: 8px;
    height: 60px;
    width: 100%;

    >div {
      height: 60px;

      >div {
        padding-left: 15px;
      }
    }
  }
}

.competitor-inputs {
  margin-top: 120px;
  padding: 0 40px;

  >div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
  }

  >span {
    font-size: 16px;
    color: #212B36;
    font-weight: 600;
    line-height: 24px;
  }
}

.progress-bar-text.progress-bar-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #242634;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  width: 90%;

  h5 {
    margin-top: 30px;
  }

  img {
    width: 320px;
    margin-left: 60px;
  }

  .competitor-top-text-span {
    text-align: center;
  }
}

.progress-bar-line.progress-bar-line {
  width: 60%;
  height: 6px;
  border-radius: 24px;
  background-color: #EBEFF2;
  margin-bottom: 20px;

  >span {
    background-color: #906BFF;
  }
}

.competitor-lines {
  position: absolute;
  right: -30px;
  top: 100px;
  width: 200px;
}

@media(max-height: 800px) {
  .competitor-dropdown.competitor-dropdown {
    width: 170px;
  }

  .competition-textfield.competition-textfield {
    width: 170px !important;

  }
}

@media(max-width: 900px) {
  .competitor-overlay {
    .competition-add.competition-add {
      width: fit-content !important;
    }
  }
}

@media(max-width: 800px) {
  .competitor-overlay {
    .competitor-inputs {
      >span {
        font-size: 18px;
      }

      >div {
        justify-content: flex-start;
        grid-gap: 15px;
      }
    }

    .competitor-paper.competitor-paper {
      width: 100%;

      .competitor-top-text {
        font-size: 20px;
      }

      .competitor-top-text-span {
        font-size: 16px;
      }
    }

    .competition-textfield.competition-textfield {
      width: 280px !important;
      margin: 0;
    }

    .competitor-dropdown.competitor-dropdown {
      width: 280px;
      margin: 0;

      >div {
        width: 280px;

      }
    }
  }
}
@media(max-width: 660px){
  .competitor-overlay {
    .competitor-inputs{
      margin-top: 60px;
    }
        .competition-textfield.competition-textfield {
        width: 200px !important;
      }
  
      .competitor-dropdown.competitor-dropdown {
        width: 200px;
  
        >div {
          width: 200px;
  
        }
      }
    }
}
@media(max-width: 495px){
  .competitor-overlay {
      .competitor-inputs {
        margin-top: 60px;
      }
  
      .competition-textfield.competition-textfield {
        width: 100% !important;
      }
  
      .competitor-dropdown.competitor-dropdown {
        width: 100%;
  
        >div {
          width: 100%;
  
        }
      }
    }
}