@import '../../../../library.scss';

.invoice {
    display: flex;
    justify-content: space-between;
    margin: 14px 0;
    align-items: center;
    padding: 12px 30px;
    background-color: #F9FAFB;
    border-radius: 8px;

    p {
        font-weight: 600;
        font-size: 16px;
        color: $color-second-third
    }

    .__flex {
        display: flex;

        p {
            margin-left: 0.6em;
        }

        .__img-block {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(145, 158, 171, 0.24);
            border-radius: 50%;
            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}