@import '../../library.scss';

.competition-top {
  display: flex;
  justify-content: space-between;
  margin: 45px 0;
}

.competition-top-text.competition-top-text {
  margin-bottom: 20px;
}

.competition-bottom-text.competition-bottom-text {
  margin: 30px 0 20px 0;
  text-align: right;
}

.competition-paper.competition-paper {
  padding: 0 25px;
  overflow: hidden;
  margin-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
  border-radius: 16px;
  background: #ffffff !important;
  margin-bottom: 40px;
}

.top-competition {
  height: 50px;
  border-radius: 30px;
  width: 100%;

  &.competitor {
    > div > div > div {
      padding-right: 20px !important;
    }

    .competition-dropdown {
      top: -5px;
    }
  }

  &.not-platform {
    .country-wrapper {
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }
  }

  > div {
    height: 50px;
    border-radius: 30px;
    padding: 0 15px;
    cursor: pointer;

    > div {
      height: 60px;
      cursor: pointer;

      > div {
        padding-left: 20px;
      }
    }
  }
}

.competition-add.competition-add {
  display: flex;
  grid-gap: 15px;
  height: 45px;
  border-radius: 40px;
  background-color: #906bff;
  padding: 0 20px;
  text-transform: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  box-shadow: 0px 2px 16px rgb(43 0 171 / 24%) !important;

  &:hover {
    background-color: #906bff !important;
  }

  img {
    width: 25px;
    height: 25px;
  }
}

.competition-cancel.competition-cancel {
  height: 45px;
  border-radius: 40px;
  background-color: #ffffff;
  padding: 0 25px;
  text-transform: inherit;
  color: #212b36;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  &:hover {
    background-color: #ffffff;
  }
}

.listing-vendors {
  > div {
    width: 100%;
    height: 50px;
    padding: 0 !important;

    > div {
      height: 50px;

      > div {
        padding: 0 !important;
      }
    }
  }
}

.competition-top-input {
  flex-wrap: nowrap;
  grid-gap: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px 0px;
  border-bottom: 1px solid rgba(145, 158, 171, 0.24);
  margin-bottom: 25px;

  .dropdowns {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;

    .top-competition {
      width: 200px !important;
    }
  }

  .competitor-wrapper {
    button {
      width: 200px;
    }
  }

  .competition-dropdowns {
    display: flex;
    align-items: center;
    grid-gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 60%;

    .top-competition {
      width: 45% !important;
    }
  }
}

@media (max-width: 1120px) {
  .competition-top-input {
    justify-content: flex-start;

    .dropdowns {
      .top-competition {
        width: 350px !important;
      }
    }
  }

  .alerts-top-inputs {
    justify-content: flex-end;

    .competition-dropdowns {
      width: 100%;
      justify-content: space-between;

      > div {
        width: 46%;

        > div {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .competition-paper.competition-paper {
    padding: 0;

    &.adverts {
      padding: 25px;
    }

    > span {
      padding: 0 25px;
      display: inline-block;
    }
  }

  .competition-top-input {
    padding: 25px;
  }
}

@media (max-width: 950px) {
  .competition-top-input {
    justify-content: flex-start;
    flex-direction: column;

    .dropdowns {
      flex-direction: column;
      width: 100%;

      .top-competition {
        width: 100% !important;
      }
    }

    .competitor-wrapper {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 900px) {
  .alerts-top-inputs {
    .competition-dropdowns {
      width: 100%;
      justify-content: space-between;

      > div {
        width: 100%;

        > div {
          width: 100%;
        }
      }
    }

    .competitor-wrapper {
      width: 100%;

      .competition-add.competition-add {
        width: 100%;
      }
    }
  }
}

@media (max-width: 770px) {
  .competitor-wrapper {
    width: 100%;

    .competition-add.competition-add {
      width: 100%;
    }
  }

  .competition-top-input {
    .top-competition {
      width: 100%;

      > div {
        width: 100%;
      }
    }
  }
}

.competition-table-paper.competition-table-paper {
  box-shadow: none;
  border: none;

  > div {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f3f3f3;
      border-radius: 31px;
    }

    &::-webkit-scrollbar-thumb {
      background: #637381;
      border-radius: 31px;
    }
  }

  th,
  td {
    border-bottom: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #212b36;
  }

  table {
    background-color: #fff;
  }

  tbody {
    > tr {
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: rgba(144, 107, 255, 0.08);
      }
    }

    > tr:nth-of-type(1) {
      padding-right: 5px;

      th {
        border-radius: 8px 0 0 8px;
      }

      > td:last-of-type {
        border-radius: 0 8px 8px 0;

        > div {
          width: 100px;
          padding-left: 14px;
          transform: scale(1.5);
        }
      }
    }
  }

  th:nth-of-type(1) {
    padding-left: 15px;
  }
}

.competiton-table-btn.competiton-table-btn {
  margin-top: 10px;
  width: 100%;
  height: 42px;
  border-radius: 8px;
  background: #f4f6f8;
  color: #637381;
  box-shadow: none !important;
  border: none;

  &:hover {
    background: #f4f6f8 !important;
  }
}

.competition-table-icon {
  width: 45px;
  object-fit: contain;
}

.competition-table-conatiner.competition-table-conatiner {
  padding: 0 10px;
  overflow: hidden;
}

.competition-table-alert {
  padding: 5px 7px;
  border-radius: 6px;
  color: #893aed;
  background: rgba(144, 107, 255, 0.08);
}

.competition-status {
  padding: 5px 7px;
  text-transform: capitalize;
  border-radius: 6px;

  &.canceled,
  &.Canceled {
    background: #fff7cd;
    color: #b78103;
  }

  &.Live,
  &.live {
    background: rgba(84, 214, 44, 0.16);
    color: #229a16;
  }

  &.Ended,
  &.ended {
    background: #86868629;
    color: #000000;
    text-transform: capitalize;
  }

  &.Cancelled,
  &.cancelled {
    background: #ffc10729;
    color: #b78103;
    text-transform: capitalize;
  }

  &.Scheduled,
  &.scheduled,
  &.Upcoming,
  &.upcoming {
    background: #1890ff29;
    color: #1890ff;
    text-transform: capitalize;
  }

  &.InProcess,
  &.inprocess {
    background-color: #feefe1;
    color: #f48b29;
  }

  &.Active,
  &.active {
    background-color: #d5c8fa4d;
    color: #9a6fff;
  }

  &.Suspended,
  &.suspended {
    background-color: #ff48421a;
    color: #ff4842;
    opacity: 1;
  }
}

.competitor-dropdown-list-item {
  > span {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 1400px) {
  .competition-table-conatiner.competition-table-conatiner {
    width: 120%;
  }
}

@media (max-width: 1210px) {
  .competition-table-conatiner.competition-table-conatiner {
    width: 150%;
  }
}

@media (max-width: 1145px) {
  .competition-table-conatiner.competition-table-conatiner {
    width: 180%;
  }
}

@media (max-width: 1100px) {
  .competition-table-conatiner.competition-table-conatiner {
    padding: 0;

    th,
    tr {
      border-radius: 0 !important;
    }
  }
}

@media (max-width: 795px) {
  .competition-table-conatiner.competition-table-conatiner {
    width: 220%;
  }
}

@media (max-width: 695px) {
  .competition-table-conatiner.competition-table-conatiner {
    width: 250%;
  }
}

.competition-thead {
  > tr {
    > th:last-of-type {
      text-align: center;
    }
  }
}

.competition-alerts {
  .table-paper.table-paper {
    margin-top: 10px !important;

    .table-container {
      border-top: none !important;
      padding: 0 !important;
    }
  }
}
