@import '../../library.scss';

.navbar_wrapper {
  position: relative;
  width: 70px;
  transition: .5s;
  height: 100vh;
  z-index: 100;

  &.opened {
    width: 280px;
  }
}

.Navbar.Navbar {
  z-index: 100;
  background: rgba($color: #fff, $alpha: 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  left: 0;
  height: 100vh;
  z-index: 1000;
  border-right: 1px solid rgba(145, 158, 171, 0.24);
  width: 70px;
  padding: 15px 12px 0 12px;
  overflow: hidden;
  transition: .5s;
  &.openedModal{
    background-color: #fff;
  }
  &.opened {
    width: 280px;

    .nav-double-arrow.nav-double-arrow {
      opacity: 1;
      visibility: visible;
      transition: .4s;
    }

    .navbar-button-kit.navbar-button-kit {
      width: 100%;
      border-radius: 8px;

      span {
        visibility: visible;
        transition: .5s;
        opacity: 1;
        width: fit-content;
        display: inline;
      }
    }
  }

  ul {
    display: flex;
    list-style-type: none;
    grid-gap: 5px;
    flex-direction: column;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      grid-gap: 16px;
      color: $color-gray;
      border-radius: 8px;
      font-size: 14px;
    }

    a.active button {
      background-color: rgba(144, 107, 255, 0.08);

      span {
        color: #906BFF;
      }

      .nav-icon {
        filter: invert(55%) sepia(36%) saturate(7491%) hue-rotate(235deg) brightness(100%) contrast(102%);
      }
    }

    a.active button:hover {

      span {
        color: #906BFF;
      }

      .nav-icon {
        filter: invert(55%) sepia(36%) saturate(7491%) hue-rotate(235deg) brightness(100%) contrast(102%);
      }
    }

    a {
      text-decoration: none;
    }

    .navbar-button-kit.navbar-button-kit.active {
      background-color: rgba(144, 107, 255, 0.08) !important;

      span {
        color: #906BFF;
      }

      .nav-icon {
        filter: invert(55%) sepia(36%) saturate(7491%) hue-rotate(235deg) brightness(100%) contrast(102%);
      }

      &:hover {

        span {
          color: #906BFF;
        }

        .nav-icon {
          filter: invert(55%) sepia(36%) saturate(7491%) hue-rotate(235deg) brightness(100%) contrast(102%);
        }
      }
    }

  }

  .Navbar-footer.Navbar-footer {
    position: absolute;
    bottom: 25px;
    width: 90%;
  }
}



.card_bottom {
  display: flex;
  grid-gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.Navbar_logo.Navbar_logo {
  position: relative;
  height: 70px;
  padding: 0;
  border: none;
  cursor: default;
  display: flex;
  justify-content: flex-end;
  transition: .3s;

  .nav-logo {
    width: 120px;
    left: 10px;
    position: absolute;
    top: 20px;
    opacity: 0;
  }

  .nav-small-logo {
    position: absolute;
    width: 38.5px;
    left: 5px;
    top: 16.5px;
    opacity: 1;
  }

  &.opened {
    .nav-logo {
      opacity: 1;
    }

    .nav-small-logo {
      opacity: 0;
    }
  }
}

.nav-icon {
  width: 25px;
  height: 25px;
}

.accordion-sum.accordion-sum {
  padding: 0;
  justify-content: space-between;
  width: 100%;
  min-height: 25px;
  height: 25px;

  &.Mui-expanded.Mui-expanded {
    min-height: 25px;
  }
}

.navbar-button-kit.navbar-button-kit {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  justify-content: flex-start;
  width: fit-content;
  min-width: fit-content;
  font-size: 13px;
  grid-gap: 16px;
  color: rgba(144, 107, 255, 0.08);

  span {
    text-transform: capitalize;
    color: #637381;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: auto;
    line-height: 20px;
    display: none;
    font-weight: 600;
  }

  &:hover {

    span {
      color: #906BFF;
    }

    .nav-icon {
      filter: invert(55%) sepia(36%) saturate(7491%) hue-rotate(235deg) brightness(100%) contrast(102%);
    }
  }
}

.navbar-accordion.navbar-accordion {
  background: none !important;
  border: none;
  box-shadow: none;
  margin: 0 !important;

  &::before {
    content: none;
  }

  &.disabled {
    .navbar-button-kit {
      pointer-events: none;
    }
  }
}
.navlink-disabled{
  pointer-events: none;
  opacity: 0.5;
}
.navbar-accordion-details.navbar-accordion-details {
  position: relative;
  padding: 8px 16px 0px 5px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;

  >a {
    position: relative;

    button {
      padding-left: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 15px;
      border-radius: 50%;
      top: 45%;
      width: 5px;
      height: 5px;
      background: #637381
    }
  }
}

.nav-double-arrow.nav-double-arrow {
  &:hover {
    transition: .4s;
    transform: rotate(0deg) scale(1.2);
  }

  transition: .4s;
  border-radius: 50%;
  padding: 4px;
  width: 40px;
  height: 40px;
  opacity: 0;
  visibility: hidden;
  min-width: 32px;
  transform: rotate(0deg) scale(1);
  color: #fff;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.active {

    &:hover {
      transition: .4s;
      transform: rotate(-180deg) scale(1.2);
    }

    transform: rotate(-180deg) scale(1);
    transition: .4s;

  }

}

.nav-lines {
  position: absolute;
  right: 0;
  width: 250px;
  top: 45%;
}



@media(max-width: 900px) {
  .navbar_wrapper {
    &.opened {
      width: 200px;
    }
  }

  .Navbar.Navbar {
    &.opened {
      width: 200px;
    }
  }

  .Navbar.Navbar.opened {
    .navbar-accordion-details.navbar-accordion-details {
      .navbar-button-kit.navbar-button-kit span {
        width: fit-content;
      }
    }
  }
}

@media(min-height: 1100px) {
  .nav-lines {
    top: 35%;
  }
}

@media(max-height: 900px) {
  .nav-lines {
    top: 50%;
  }
}

@media(max-height: 800px) {
  .nav-lines {
    top: 55%;
  }
}

@media(max-height: 700px) {
  .nav-lines {
    top: 67%;
  }
}