@import '../../library.scss';

.Navbar.Navbar {
  background-color: #fff;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  left: 0;
  height: 100vh;
  z-index: 1000;
  border-right: 1px solid #f8f9fd;
  width: 70px;
  padding: 15px 12px 0 12px;
  overflow: hidden;
  transition: 0.5s ease-in-out;

  ul {
    display: flex;
    list-style-type: none;
    grid-gap: 5px;
    flex-direction: column;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      grid-gap: 16px;
      color: $color-gray;
      border-radius: 8px;
      font-size: 14px;
    }

    a.active button {
      background-color: #F6F3FF;

      span {
        color: #5e5adb !important;
      }

      svg {
        path {
          fill: #5e5adb;
        }

        path[data-stroke='true'] {
          stroke: #5e5adb;
          fill: none;
        }
      }
    }

    a.active button:hover {
      span {
        color: #5e5adb !important;
      }

      svg {
        path {
          fill: #5e5adb;
        }

        path[data-stroke='true'] {
          stroke: #5e5adb;
          fill: none;
        }
      }
    }

    a {
      text-decoration: none;
    }

    .navbar-button-kit.navbar-button-kit.active {
      background-color: #F6F3FF !important;

      span {
        color: #5e5adb !important;
      }

      svg {
        path {
          fill: #5e5adb;
        }

        path[data-stroke='true'] {
          stroke: #5e5adb;
          fill: none;
        }
      }

      &:hover {
        span {
          color: #5e5adb !important;
        }

        svg {
          path {
            fill: #5e5adb;
          }

          path[data-stroke='true'] {
            stroke: #5e5adb;
            fill: none;
          }
        }
      }
    }
  }

  .Navbar-footer.Navbar-footer {
    position: absolute;
    bottom: 25px;
    width: 90%;
  }
}

.navbar_wrapper {
  background: #fff;
  position: relative;
  width: 70px;
  transition: 0.5s ease-in-out;
  height: 100vh;
  z-index: 100;

  &:hover {
    .Navbar.Navbar {
      width: 220px;

      .navbar-button-kit.navbar-button-kit {
        width: 100%;
        border-radius: 8px;
        grid-gap: 16px;
        transition: 0.3s ease-in-out;

        > span:nth-of-type(1) {
          transition: 0.3s ease-in-out;
          visibility: visible;
          opacity: 1;
          width: 30%;
          color: #212b36;
        }
      }
    }
  }
}

.card_bottom {
  display: flex;
  grid-gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.Navbar_logo {
  width: fit-content;
  margin-bottom: 7px;
}

.nav-small-logo {
  position: relative;
  width: 38.5px;
}

.navbar-button-kit.navbar-button-kit {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 11px;
  border-radius: 50%;
  justify-content: flex-start;
  width: 45px;
  min-width: 0;
  font-size: 13px;
  grid-gap: 0;
  color: rgba(144, 107, 255, 0.08);
  transition: 0.3s ease-in-out;

  > span:nth-of-type(1) {
    text-transform: capitalize;
    color: #637381;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: auto;
    line-height: 20px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    transition: 0.3s ease-in-out;
    background-color: #f8f9fb;
    > span:nth-of-type(1) {
      color: #5e5adb !important;
    }

    svg {
      transition: 0.3s;

      path {
        transition: 0.3s;
        fill: #5e5adb;
      }

      path[data-stroke='true'] {
        transition: 0.3s;
        stroke: #5e5adb;
        fill: none;
      }
    }
  }
}

.navlink-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.nav-line {
  background-color: #5e5adb;
  height: 40px;
  width: 600px;
  position: absolute;
  bottom: 60px;
  left: -50px;
  transform: rotate(15deg);

  &::before {
    content: '';
    background-color: rgba(94, 90, 219, 0.2);
    height: 40px;
    width: 600px;
    position: absolute;
    top: -40px;
    left: 0;
  }
}
