@import '../../library.scss';

.navbar_wrapper {
  position: relative;
  width: 70px;
  transition: .5s;
  height: 100vh;
  z-index: 100;

  &.opened {
    width: 350px;
  }
}

.Navbar.Navbar {
  z-index: 100;
  background: rgba($color: #fff, $alpha: 0.4);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  left: 0;
  height: 100vh;
  z-index: 1000;
  border-right: 1px solid rgba(145, 158, 171, 0.24);
  width: 70px;
  padding: 15px 12px 0 12px;
  overflow: hidden;
  transition: .5s;

  &.opened {
    width: 250px;

    .navbar-button-kit.navbar-button-kit {
      width: 100%;

      span {
        transition: .5s;
        opacity: 1;
        width: 100%;
      }
    }
  }

  ul {
    display: grid;
    list-style-type: none;
    grid-gap: 8px;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      grid-gap: 5px;
      color: $color-gray;
      border-radius: 10px;
      font-size: 14px;
    }

    a.active button {
      background-color: #ebdbeb;
      color: #4d2681;
      transition: .4s;
    }

    a.active button:hover {
      background-color: #ebdbeb;
      color: #4d2681;
      transition: .4s;
    }

    a {
      text-decoration: none;
    }

  }

  .Navbar-footer.Navbar-footer {
    position: absolute;
    bottom: 25px;
    width: 90%;
  }
}



.card_bottom {
  display: flex;
  grid-gap: 5px;
  align-items: center;
}

.increased {
  color: $color-green;
}

.decreased {
  color: $color-red;
  transform: scale(1, -1);
}

.Navbar_logo.Navbar_logo {
  position: relative;
  height: 70px;
  padding: 0;
  border: none;
  cursor: default;
  display: flex;
  justify-content: flex-end;
  transition: .3s;

  .nav-logo {
    width: 170px;
    left: -15px;
    position: absolute;

  }

  .nav-small-logo {
    position: absolute;
    width: 28.5px;
    left: 9px;
  }
}

.accordion-sum.accordion-sum {
  padding: 0;
  justify-content: space-between;
  width: 100%;
  min-height: 25px;
  height: 25px;

  &.Mui-expanded.Mui-expanded {
    min-height: 25px;

  }
}

.navbar-button-kit.navbar-button-kit {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $color-gray;
  padding: 10px 5px 10px 10px;
  border-radius: 10px;
  justify-content: flex-start;
  width: fit-content;
  min-width: fit-content;
  font-size: 13px;
  transition: .4s;
  grid-gap: 5px;

  span {
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    width: 0px;
    transition: .5s;
    height: auto;
  }

  &.MuiButtonBase-root:hover {
    background-color: $color-second;
  }
}

.navbar-accordion.navbar-accordion {
  background: none;
  border: none;
  box-shadow: none;
}

.navbar-accordion-details.navbar-accordion-details {
  margin-left: 25px;
  position: relative;
  padding: 8px 16px 0px 16px;

  &::before {
    content: "";
    position: absolute;
    height: 90%;
    left: 5%;
    width: 1.5px;
    background: rgba($color: #bebebe, $alpha: 0.4);
  }
}

.nav-double-arrow.nav-double-arrow {
  &:hover {
    background: $color-arrow-light;
    transition: .4s;
    transform: rotate(0deg) scale(1.2);
  }

  transition: .4s;
  border-radius: 50%;
  padding: 4px;
  width: 32px;
  min-width: 32px;
  height: auto;
  transform: rotate(0deg) scale(1);
  -webkit-tap-highlight-color: transparent;
  color: $color-arrow;

  &.active {

    &:hover {
      background: $color-arrow-light;
      transition: .4s;
      transform: rotate(-180deg) scale(1.2);
    }

    transform: rotate(-180deg) scale(1);
    transition: .4s;

  }

  svg {
    >path:nth-of-type(1) {
      fill: #919eab3d;
    }

    >path:nth-of-type(2) {
      fill: $color-arrow;
    }
  }
}

@media(max-width: 900px) {
  .navbar_wrapper {
    &.opened {
      width: 330px;
    }
  }

  .Navbar.Navbar {
    &.opened {
      width: 230px;
    }
  }
}