@import '../../../library.scss';

.account-form {

    padding: 15px 0;

    .account-form__flex {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .account-form__flex__block {
            width: 48%;
            .account-form__flex__block__input {
                margin: 10px 0;

                &.__not-allowed {
                    .MuiInputBase-input {
                        cursor: not-allowed;
                    }
                }

                .MuiInputBase-input {
                    background-color: white;
                    border-radius: 8px;
                }

            }

            .account-form__flex__block__input-phone {
                margin: 10px 0;
                margin-top: 20px;
                input {
                    width: 100%;
                    height: 3.4em;
                    background-color: white;
                    border-color: #919eab65;
                    border-radius: 8px;

                    &:focus {
                        border: 2px solid $color-main;
                        box-shadow: none;
                    }
                }
                .special-label {
                    color: $color-gray;
                    font-size: 10px;
                }
            }


            .account-form__flex__block__autocomplete {
                margin: 10px 0;
                background-color: white;
                border-radius: 8px;
                .MuiAutocomplete-inputRoot {
                    height: 3.7em;
                    display: flex;
                }
                label {
                    &[data-shrink="true"] {
                        margin-top: 0;
                    }
                }
                input {
                    margin-top: 0px;
                }
            }
        }
    }


    .account-form__textarea {
        margin-top: 8px;
    }
    
    @media(max-width: 576px) {
        .account-form__flex {
            display: block;
            .account-form__flex__block {
                width: 100%;
            }
        }
    }
}
