
.account-form {

    .account-form__flex {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .account-form__flex__block-1, .account-form__flex__block-2 {
            width: 46%;
            .account-form__flex__block-1__input, .account-form__flex__block-2__input {
                margin: 13px 0;
            }
        }

        .account-form__button {
            position: relative;
            right: 25px;
            margin: 13px 0;
        }
    }
}