@import '../../../../library.scss';

.info {
    background-color: #ebdbeb;

    padding: 23px;
    border-radius: 10px;
    margin: 13px 0;

    .info__name {
        font-weight: 600;
        font-size: 1rem;
    }

    p {
        margin-bottom: 13px;
        font-weight: 400;
        span {
            color: rgb(99, 115, 129);
        }
    }

    .info__btn-flex {
        margin-top: 13px;
    }
}