.advert-widget_card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12) !important;
  border-radius: 16px !important;
  grid-gap: 15px;
  flex: 1 1 18%;

  > div {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }

    p {
      font-weight: 600;
      color: #212b36;
      line-height: 22px;
    }
  }

  span {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #212b36;
  }
}

@media (max-width: 1400px) {
  .advert-widget_card {
    flex: 1 1 22%;
  }
}

@media (max-width: 1300px) {
  .advert-widget_card {
    flex: 1 1 27%;
  }
}

@media (max-width: 1000px) {
  .advert-widget_card {
    flex: 1 1 32%;
  }
}

@media (max-width: 830px) {
  .advert-widget_card {
    flex: 1 1 100%;
  }
}

.adverts-widget-custom_wrapper {
  background: #f9fafb;
  border: 1px solid #919eab29;
  border-radius: 8px;
  padding: 20px 0;
  max-height: 45%;
  overflow: hidden;

  > p {
    border-bottom: 1px solid #919eab29;
    padding: 0 20px;
    padding-bottom: 10px;
    display: block;
    font-weight: 600;
    line-height: 22px;
    color: #212b36;
  }
}

.adverts-widget-custom_content {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  > div {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    width: 30%;

    p {
      font-size: 12px;
    }

    span {
      font-size: 13px;
      font-weight: 600;
    }
  }

  &.branch.branch {
    flex-direction: column;
    height: 95%;
    overflow: auto;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f3f3f3;
      border-radius: 31px;
    }

    &::-webkit-scrollbar-thumb {
      background: #637381;
      border-radius: 31px;
    }

    > div {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid #919eab29;
      padding: 10px 20px;

      > div {
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
        width: 30%;

        p {
          font-size: 12px;
        }

        span {
          font-size: 13px;
          font-weight: 600;
        }
      }
    }

    > div:last-of-type {
      border-bottom: none;
    }
  }
}
