.reset-password {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  margin: auto;
  display:flex;
  justify-content:center;
  flex-direction: column;

  .reset-password-cover {
    margin-top: 10%;
  }

  .card-reset-password {
    width: 30rem;
    text-align: start;
    padding: 1rem 1rem 1rem;
    margin: auto;
  }
}
