@import '../../library.scss';
@import '../../responsiveness.scss';

.reset-password {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  .__title {
    text-align: left;
    font-size: 25px;
    color: $color-second-third;
    font-weight: 600;
    margin-bottom: 0.5em;
  }

  .__btn-change {
    margin-top: 1em;
  }

  @include tabletBreakpoint {
    width: 70%;
    height: 300px;
  }

  @include mobileBreakpoint {
    width: 90%;
    height: 300px;
  }
}
