.marketing-stepper {
  margin-top: 20px;

  >div:nth-of-type(1n) {
    padding-left: 1px;
    padding-right: 1px;
  }

  >div:nth-of-type(2n) {
    height: 13px;
    background: #919EAB1F;

    span {
      display: none;
    }

    &.Mui-active {
      background: linear-gradient(296.09deg, #845FF1 15.17%, #A573FF 82.3%);
    }

    &.Mui-completed {
      background: linear-gradient(296.09deg, #845FF1 15.17%, #A573FF 82.3%);
    }
  }

  >div:nth-of-type(2) {
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
  }

  >div:nth-last-of-type(2) {
    border-radius: 0 15px 15px 0;
    overflow: hidden;
  }
}