@import '../../../library.scss';
@import '../../../responsiveness.scss';

.billing {
    display: flex;
    justify-content: space-between;
    .billing__block-1 {
        width: 58%;

        .billing__payment, .billing__info {
            margin: 13px 0;
            padding: 15px;
        }

        .billing__plan {
            padding: 15px;
            .billing__plan__flex {
                display: flex;
                justify-content: space-between;
            }

            .billing__plan__flex__text {
                text-transform: capitalize;
                font-weight: bolder;
                font-size: 25px;
                margin-top: 20px;
            }

            .billing__plan__flex__btn {
                .billing__plan__flex__btn__upgrade {
                    border: 1px solid $color-green;
                    color: $color-green;
                }
            }
        }

        .billing__payment {
            .billing__payment__flex {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .billing__invoice {
        width: 38%;

        .billing__invoice__btn-next {
            display: flex;
            justify-content: flex-end;
            margin: 25px 0;
        }
    }
}

@include mobileBreakpoint {
    .billing {
        display: block;
        .billing__block-1, .billing__invoice {
            width: 100%;
        }

        .billing__block-1 {
            .billing__payment {
                .billing__payment__flex {
                    display: block;
                }
            }

            .billing__plan {
                .billing__plan__flex {
                    display: block;
                    .billing__plan__flex__btn {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}