@import '../../../library.scss';
@import '../../../responsiveness.scss';

.signin-form {
  .signin-form__get-started {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 14px;
    font-weight: 600;

    .__get-started__link {
      color: $color-green-second;
      text-decoration: none;
    }
  }

  .signin-form__block {
    margin: auto;
    width: 60%;
    

    .__block-head {
      margin-bottom: calc(30px + 1rem);

      .__block-head__title {
        text-align: start;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 24px;
      }

      .__block-head__sub {
        text-align: start;
        color: $color-table-th;
        font-size: 16px;
      }
    }

    .__block-google {
      margin-bottom: 0.8rem;
      width: 100%;

      .__block-google__button {
        width: 100%;
      }

      .__block-google__icon {
        font-size: 24px;
      }
    }

    .__block-divider {
      text-align: center;
      margin-bottom: 0.8rem;

      .__block-divider__text {
        color: $color-table-th;
      }
    }

    .__block-field {
      margin-bottom: 0.8rem;
    }

    .__block-field-check {
      margin-bottom: 0.8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .__block-field-check__text {
        font-size: 14px;
      }

      .__block-field-check__link {
        color: $color-main;
        text-decoration: none;
        font-size: 14px;
        align-self: center;
      }
    }
  }

  @include mobileBreakpoint {
    .signin-form__get-started {
      position: unset;
      text-align: left;
      margin: 1em 1.5em;
    }

    .signin-form__block {
      width: 90%;
    }
  }

  @include tabletBreakpoint {
    .signin-form__block {
      width: 70%;
    }
  }
}