@import '../../library.scss';

.onboarding-platform__selector-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  gap: 12px;
  width: 486px;
  height: 96px;
  margin: auto;

  background: #ffffff;

  border: 1px solid rgba(145, 158, 171, 0.08);

  box-shadow: 0px 8px 16px rgba(145, 158, 171, 0.16);
  border-radius: 8px;
  margin-top: 20px;

  &.__active {
    background-color: $color-third;
  }

  &.__error {
    background-color: $color-light-pink;
  }

  &.__success {
    background-color: $color-light-green;
  }

  .selector-item__success {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 22px;

    width: 117px;
    height: 46px;

    background: rgba(84, 214, 44, 0.08);
    border-radius: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    color: #229a16;
  }
}
