@import '../../responsiveness.scss';

.signup {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  display:flex;
  justify-content: center;
  align-items: center;

  .signup-cover {
    width: 40%;
    text-align: center;
  }

  .card-signup {
    width: 50%;
    text-align: center;
    padding: 2rem;
    transform: scale(0.8);
  }

  @include breakpoint($breakpoint-xs, $breakpoint-lg)  {
    display: block;

    .signup-cover {
      width: 100%;
    }

    .card-signup {
      transform: scale(1);
      width: 100%;
    }
  }

  @include desktopBreakpoint {
    height: 100vh;
  }
}
