@import '../../library.scss';
@import '../../responsiveness.scss';

.signup {
    .signup__signin-text {
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: 14px;
        font-weight: 600;

        a {
            text-decoration: none;
            color: $color-main;
        }

        @include mobileBreakpoint {
            position: unset;
            text-align: left;
            margin: 1em 1.5em;
        }
    }
}