@import '../../responsiveness.scss';

.signup {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  display:flex;
  justify-content: space-between;
  align-items: center;

  .signup-cover {
    width: 50%;
  }

  .card-signup {
    width: 50%;
    text-align: center;
    padding: 2rem;
    margin: auto;
  }

  @include breakpoint($breakpoint-xs, $breakpoint-lg)  {
    display: block;

    .signup-cover {
      width: 100%;
    }

    .card-signup {
      width: 100%;
    }
  }

  @include desktopBreakpoint {
    height: 100vh;
  }
}
