@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './responsiveness.scss';

$base-font: 'Public Sans', sans-serif;

$color-main: #4d2681;
$color-main-light: #4d26813f;
$color-second: #704cfc4d;
$color-third: #f0ecf4;

$color-border: #823aa8;

$color-icon: #ff48421a;
$color-icon-active: #54d62619;

$color-arrow: #637381;
$color-arrow-light: #63738126;

$color-green: #54d62c;
$color-red: #ff4842;
$color-gray: #908c8c;

$color-wrapper: #212b36;

$color-table-th: #637381;