@import '../../../library.scss';
@import '../../../responsiveness.scss';

.auth-layout{
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  display:flex;
  align-items: stretch;
  height: 100vh;
  
  .auth-layout__cover {
    width: 45%;
    background-color: $color-light;
    text-align: left;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 8px 5px -3px rgba(0, 0, 0, 0.271);
    padding: 40px;
    .auth-layout__cover__logo {
        position: relative;
        right: 10px;
    }

    .auth-layout__cover__center {
      display: flex;
      align-items: center;  
      text-align: left;
      height: 85vh;
      .auth-layout__cover__center__text {
        position: relative;
        left: 10px;
        color: $color-main;
        font-size: 30px;
        font-weight: 700;
      }

      .auth-layout__cover__center-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 6.4vh 0;
        .center-flex__icon {
          width: 50px;
          height: 100px;
        }
        .center-flex__text {
          font-size: 24px;
          font-weight: 600;
          color: $color-second-third;
          width: 70%;
          text-align: left;
        }
      }
    }
  }

  .auth-layout__form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;

    .auth-layout__form-block__form {
      text-align: left;
      width: 60%;
      margin: auto;
      .auth-layout__form-block__form__text {
        color: $color-second-third;
        font-weight: 700;
        font-size: 24px;
      }

      .auth-layout__form-block__form__subtext {
        color: $color-arrow;
        font-size: 16px;
        margin-top: 20px;
      }

      .auth-layout__form-block__form__block {
        margin-top: 30px;
      }

    }
  }

  @include mobileBreakpoint {
    display: block;

    .auth-layout__cover {
        width: 100%;

        .auth-layout__cover__center {
            .auth-layout__cover__center__text {
                font-size: 20px;
                top: 1em;
            }

            .auth-layout__cover__center-flex {
                .center-flex__text {
                    font-size: 18px;
                }
            }
        }
    }


    .auth-layout__form-block {
        margin-top: 2em;
        padding-bottom: 1em;
        width: 100%;


        .auth-layout__form-block__form {
            width: 90%;
        }
    }
  }
}
