@import '../../../library.scss';
@import '../../../responsiveness.scss';

.auth-layout {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  display: flex;
  align-items: stretch;
  height: 100vh;

  .auth-layout__cover {
    width: 45%;
    background-color: rgba(144, 107, 255, 0.08);
    text-align: left;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-shadow: 0 4px 4px 0px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .auth-layout__cover__logo {
      position: absolute;
      top: 2em;
      left: 4em;
    }

    .auth-layout__cover__center {
      width: 85%;
      margin: 0 auto 0 auto;
      margin-top: 6em;
      .auth-layout__cover__center__text {
        position: relative;
        left: 10px;
        color: $color-main;
        font-size: 28px;
        font-weight: 700;
      }

      .auth-layout__cover__center-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5vh;
        .center-flex__icon {
          width: 50px;
          height: 100px;
        }
        .center-flex__text {
          font-size: 24px;
          font-weight: 600;
          color: $color-second-third;
          width: 70%;
          text-align: left;
        }
      }
    }
  }

  .auth-layout__form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
  }

  @include tabletBreakpoint {
    display: block;

    .auth-layout__cover {
      width: 100%;

      .auth-layout__cover__logo {
        left: 4.5em;
        top: 1em;
      }

      .auth-layout__cover__center {
        margin-top: 6em;
        .auth-layout__cover__center__text {
          font-size: 28px;
        }

        .auth-layout__cover__center-flex {
          margin-top: 1vh;
          .center-flex__text {
            font-size: 24px;
          }
        
        }
      }
    }

    .auth-layout__form-block {
      margin-top: 2em;
      padding-bottom: 1em;
      width: 100%;
    }
  }

  @include mobileBreakpoint {
    display: block;

    .auth-layout__cover {
      width: 100%;

      .auth-layout__cover__logo {
        top: 1.8em;
        left: 3.4em;
      }

      .auth-layout__cover__center {
        margin-top: 7em;
        .auth-layout__cover__center__text {
          font-size: 20px;
        }

        .auth-layout__cover__center-flex {
          margin-top: 1vh;
          .center-flex__text {
            font-size: 18px;
          }
        
        }
      }
    }

    .auth-layout__form-block {
      margin-top: 2em;
      padding-bottom: 1em;
      width: 100%;
    }
  }

  @media only screen and (max-height: 606px) {
    height: 630px;
  }
}
