@import '../../../../library.scss';
@import '../../../../responsiveness.scss';

.payment-method {
    border: 1px solid $color-light;
    padding: 10px 13px 10px 13px;
    border-radius: 6px;
    margin: 13px 0;
    display: flex;
    justify-content: space-between;
    width: 48%;


    .payment-method__btn {
        border-radius: 50%;
        border: none;
        background-color: transparent;
        align-self: flex-start;
        width: 30px;
        height: 30px;
        transition: .3s;
        color: $color-gray;
        cursor: pointer;
        &:hover {
            background-color: $color-light;
        }
    }

    p {
        margin: 15px 0;
    }

    .payment-method__text {
        .payment-method__text__type {
            width: 40px;
            height: 30px;
        }

        .payment-method__text__cvv {
            font-weight: 600;
            font-size: 14px;
        }
    }
}

@include mobileBreakpoint {
    .payment-method {
        width: 100%;
    }
}