@import '../../../../responsiveness.scss';

.signup-form {
    .signup-form__flex {
        display: flex;
        justify-content: space-between;

        .signup-form__flex__input {
            margin-top: 1rem;
            width: 48%;
        }

        @include mobileBreakpoint {
            display: block;
            .signup-form__flex__input {
                width: 100%;
            }
        }
    }
    
    .signup-form__input {
        width: 100%;
        margin-top: 1rem;
    }

    .signup-form__check {
        margin-bottom: 1rem;
        margin-top: 1.5rem;

        input {
            vertical-align: middle;
            cursor: pointer;
        }
    }
}