@import '../../../../responsiveness.scss';
@import '../../../../library.scss';

.signup-form {
    .signup-form__flex {
        display: flex;
        justify-content: space-between;

        .signup-form__flex__input {
            margin-top: 1rem;
            width: 48%;
        }

        @include mobileBreakpoint {
            display: block;
            &.phone {
                display: flex;
            }
            .signup-form__flex__input {
                width: 100%;
            }
        }
    }
    
    .signup-form__input {
        width: 100%;
        margin-top: 1.6rem;
    }

    .signup-form__input-phone {
        margin-top: 1.6rem;

        width: 40%;
        input {
            width: 85%;
            background-color: transparent;
            height: 3.8rem;
            &:focus {
                border: 1.5px solid $color-main;
                box-shadow: none;
            }
        }

        @include mobileBreakpoint {
            width: 33%;
        }
    }


    .signup-form__check {
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        text-align: left;

        input {
            vertical-align: middle;
            cursor: pointer;
        }

        a {
            color: black;
        }
    }
}