.comp-dropdown {
  .MuiRadio-root {
    &.Mui-checked {
      [data-testid='RadioButtonCheckedIcon'] {
        left: 7px;
      }
    }
  }

  display: flex;
  position: relative;

  &.disabled {
    button {
      color: gray;
      cursor: not-allowed;
    }

    img,
    svg {
      color: gray;
      filter: contrast(0.1);
    }
  }

  button {
    border: none;
    border-radius: 10px;
    background: #f8f9fb;
    padding: 11px 18px;
    color: #212b36;
    max-width: 280px;
    width: 280px;
    min-width: 12rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;

    .comp-content {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
    }

    .comp-dropdown-arrow {
      svg {
        width: 10px;
        height: 10px;
      }
    }

    &:hover {
      border: none;
      background: #f8f9fb;
    }

    &.__active {
      color: #212b36;
    }

    i {
      display: flex;
      align-items: center;
    }

    img,
    svg {
      margin-right: 5px;
      width: 40px;
      height: 20px;
      object-fit: contain;
    }
  }

  span {
    font-weight: bold;
    align-self: center;
  }

  .comp-dropdown__content {
    position: absolute;
    border-radius: 12px;
    overflow: visible;
    background: white;
    box-shadow: -20px 20px 40px -4px rgb(0 0 0 / 24%), 0px 20px 40px -4px rgb(145 158 171 / 16%);
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.24));
    border: 1px solid rgba(145, 158, 171, 0.32);
    width: 20rem;
    margin-top: 4.2rem;
    box-sizing: border-box;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    right: -20px;
    z-index: 999;
    max-height: 30rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      height: 1px;
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f3f3f3;
      border-radius: 31px;
    }

    &::-webkit-scrollbar-thumb {
      background: #637381;
      border-radius: 31px;
    }

    > div {
      scroll-behavior: smooth;
    }

    &::before {
      border: 1px solid rgba(145, 158, 171, 0.32);
      top: -6px;
      background-color: #fff;
      right: 15px;
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      box-shadow: inset 0 0 1px 0 rgb(145 158 171 / 48%), 0 2px 4px -5px rgb(145 158 171 / 24%);
      border-bottom: none;
      border-right: none;
    }

    .comp-dropdown__item {
      margin: 0.2rem 0;
      z-index: 1335;
      width: 100%;
      display: flex;

      span {
        padding: 0.6rem 0.5rem;
        white-space: nowrap;
        z-index: 1334;
      }

      &:hover {
        cursor: pointer;
        background: rgba(145, 158, 171, 0.08);
        border-radius: 8px;
      }
    }
  }

  .MuiChip-root {
    cursor: pointer;

    .MuiChip-labelSmall {
      font-weight: lighter;
      color: #212b36;
    }
  }
}
