@import '../../../library.scss';

.change-password {
  width: 100%;

  padding: 32px;

  border: 1px solid #dfe3e8;
  border-radius: 8px;

  .__title {
    font-weight: 600;
    font-size: 16px;
    color: $color-second-third;
    margin-bottom: 2em;
  }

  .change-password__field {
    margin: 1rem 0;
  }

  .change-password__button {
    margin: 0.5rem;

    text-align: end;
  }
}
